[2014-08-26 18:34] KyleAMathews opened #1 "automatically listen to window resize event?"
Seems like a natural thing for this module to do. I can code it up if there's interest.

[2014-08-26 18:52] #1 closed, assigned to nobody

[2014-09-17 02:22] caktux opened #3 "Trying to return null from a render, but no null placeholder component was injected."
Probably a dependency thing, but can't figure it out as it stands... Any help would be highly appreciated :)

[2014-11-20 23:39] bstro opened #4 "Lower case component names (mq) are no longer supported in JSX"
Using React 0.12.1, upon compilation, I get this error
`Lower case component names (mq) are no longer supported in JSX: See http://fb.me/react-jsx-lower-case`

[2014-11-20 23:44] #4 closed, assigned to nobody

[2015-01-27 19:42] aidangarza opened #5 "Peer Dependent of React"
Can you make this a peer dependent of React? The dependencies list react v0.11.0, but my app uses v0.12.0.

[2015-01-27 19:56] contra commented on #5
Yep it should be - this was before all of the new react stuff in 0.12 broke this

[2015-01-27 20:12] contra commented on #5
Published as 0.0.2 - can you test it out and confirm that this is fixed?

[2015-01-28 20:06] aidangarza commented on #5
It worked! I was able to add it with npm.

[2015-01-28 23:04] #5 closed

[2015-02-03 22:06] benmliang opened #6 "Uncaught TypeError: Cannot convert undefined or null to object"
Just load the library and have this problem:

Uncaught TypeError: Cannot convert undefined or null to object

From index.js:

var excludedQueryKeys = Object.keys(types);

which types doesn't get defined anywhere above this line, I found type got defined below:

var types = assign(defaultTypes, mediaQuery.all);

[2015-02-03 22:22] joeLepper commented on #6
I'm experiencing the exact same issue running v 0.0.2

[2015-02-04 01:12] #6 closed

[2015-02-07 18:47] fvitullo opened #7 "window is not defined"
I am trying to use it in my application but it fails:

[code]

This is happening when I try to use react-responsive with a Routing component

[2015-02-07 18:54] cdbkr opened #8 "mergeInto deprecated"
Using it with React 0.12.2,following warning is being fired:

[code]
You included the object-assign package in the dependencies but mergeInto is still in the mediaQuery.js.

Warning disappears when mediaQuery.js is modifies as following:
[code]

[2015-02-08 02:14] contra commented on #7
Rendering serverside?

[2015-02-08 02:14] contra commented on #8
PR?

[2015-02-08 10:57] fvitullo commented on #7
Yes, obviously is breaking when it tries to render it server-side.
To solve this I changed that line to:
[code]

Im not completely sure about this "solution"

[2015-02-09 09:00] #7 closed

[2015-02-09 09:15] contra commented on #7
Published as 0.0.4

[2015-02-27 03:37] phated commented on #8
This is fixed and can be closed

[2015-02-27 03:42] #8 closed

[2015-04-27 12:02] dotted opened #13 "MIT or MPL license?"
You have defined MPL as the license in package.json, but your LICENSE file indicates MIT, could you please clarify which license this is supposed to be released under?

[2015-04-27 13:20] contra commented on #13
MIT, fixed the package. Not sure what the hell happened there, assuming npm did that

[2015-04-27 13:20] #13 closed

[2015-07-18 23:38] laurentvd opened #15 "Cannot install with React 0.14 beta"
Right now the dependency is set up very strictly (react@~0.12.0 || ~0.13.0). Are there any breaking changes in 0.14 that conflict with react-responsive?

[2015-07-20 09:09] contra commented on #15
No but that's the problem. React is not above a stable range, so normal semver rules don't apply. Every time react updates the whole ecosystem of packages has to update their dependencies manually and push a new update. It's a total shitshow, with tons of modules still being set to 0.12, some having it as a dependency and not a peerDependency. Really disappointed with this situation. For now, I'll

[2015-07-20 09:22] laurentvd commented on #15
Alright. And yeah, I feel your pain. I guess it is best -for now- to not limit it to any version. Thanks for taking the time to explain it (and maybe it helped you to vent a bit of your frustration ;-)).

[2015-07-20 09:22] #15 closed

[2015-07-21 02:09] contra commented on #15
@laurentvd New version is up though

[2015-09-14 13:44] arturmuller opened #19 "Switching components"
Hey — thanks for the awesome package.

When you want to switch two components at a certain breakpoint, how do you do that without having them both temporality present at the breakpoint's value?

Eg:
[code]

This renders fine everywhere except at exactly 640px (with default browser value of em at 16px) when both of these conditions apply so both `<div>`s render. I tried looking into the media query

[2015-09-14 17:38] contra commented on #19
In CSS Media Queries:
- max-width = `screen.width <= X`
- min-width = `screen.width >= X`

You see where the problem happens when `screen.width === X` and both get triggered. This library is just using media queries under the hood so it's not really my place to solve this one. Maybe try StackOverflow and they will have a workaround?

[2015-09-14 17:45] contra commented on #19
This should help you out: https://css-tricks.com/logic-in-media-queries/

[2015-09-14 17:45] #19 closed

[2015-09-14 19:09] arturmuller commented on #19
Gotcha. Your link helped — I tried with the `not` operator previously to no avail, but Chris mentions in the article that for some reason you have to use `not all and (query)` to properly reverse it. This allowed me to nest the `<MediaQuery>` components in a way that achieves what I needed. Thanks!

Here it is, if anyone else has the same problem in the future:

[code]

[2015-09-14 21:22] contra commented on #19
@arturmuller Nice!

[2015-10-08 18:51] 0x80 opened #27 "React 0.14 not matched with *"
I'm trying to use react-responsive with 0.14 which was released yesterday. Apparently the * doesn't match it, because I get this error:

`npm ERR! peerinvalid Peer react-responsive@0.0.8 wants react@*`

[2015-10-08 18:51] contra commented on #27
PR?

[2015-10-08 18:53] 0x80 commented on #27
Ok I'll have a go at it

[2015-10-17 00:45] jmfurlott opened #29 "Device width not working on actual device"
Running into a strange problem with a discrepancy between the Chrome mobile tools and my actual device. Using the following code:

[code]

On my iPhone 6 with latest 9.0.2, nothing is visible but if I "impersonate" the iPhone 6 via Chrome, the component loads.  Any ideas?

[2015-10-17 06:11] contra commented on #29
@jmfurlott iOS is safari, chrome iphone 6 is still chrome - does safari not support matchMedia or device-width media queries?

[2015-10-22 18:25] jmfurlott commented on #29
Just user error. Thanks @contra

[2015-10-22 18:25] #29 closed

[2015-11-13 16:24] ch2ch3 opened #31 "Children get nested in themselves"
In the render method, cloning the children with the existing props results in their own children getting replaced with a clone of themselves.

[code]

e.g. given `this.props.children` of `[<video src="..."></video>]`, the `<video>` element will be replaced with `<video src="..."><video src="..."></video></video>`. This causes the video to load twice which is particularly problematic.

A quick fix

[2015-11-13 20:27] #31 closed

[2015-11-13 20:29] contra commented on #31
Published as 1.0.1

[2015-11-19 14:53] machadogj opened #33 "Can't nest two components in a single MediaQuery"
This works:
[code]
This doesn't
[code]
I believe there's an extra `div` being added. Anyway around this?

[2015-11-19 21:59] contra commented on #33
Related to #30

[2015-11-19 21:59] contra commented on #33
@jdlehman ^

[2015-11-19 22:22] machadogj commented on #33
I see how it's supposed to work now. I don't think it's a library issue, I'll make some changes to my code. Thanks.

[2015-11-19 22:22] #33 closed

[2015-11-20 03:14] jdlehman commented on #33
Yep, the extra div is needed when you have more than 1 child because React only knows how to render trees

[2015-11-22 22:59] nevace opened #34 "Can't get it to work with components"
I can get this working using your example but when I try with with my own components, although everything renders, the media query is ignored.

This works..

[code]
This renders and throws no error but nothing happens resizing to below 800px...

[code]
InstagramFeed is just a basic array of list items. I'm using es6 class syntax, is there anything I need to do in regards to binding this?

[2015-11-26 00:35] contra commented on #34
@nevace So the InstagramFeed component returns an actual array of elements?

[2015-11-26 09:34] nevace commented on #34
Yeah, here's what I'm returning in the component's render method and a screen grab of the DOM.

[code]

![screen shot 2015-11-26 at 09 32 08](https://cloud.githubusercontent.com/assets/7416283/11419657/c7957bc2-9420-11e5-834f-2722d657b921.png)

[2015-12-01 02:34] contra commented on #34
Can you try updating to the latest version?

[2015-12-01 09:38] nevace commented on #34
I'm on version 1.01. I'll be working on this the next couple of days so I'll have a play about.

[2015-12-01 17:40] darrenscerri commented on #34
The problem is that you are using `minDeviceWidth` which queries the *device's* width and not the window with, therefore resizing the window will not trigger this media query unless the physical device reports itself as being < 800px wide. Use `minWidth` instead.

[2015-12-01 19:12] nevace commented on #34
Wow that looks like a dumb mistake by me. I'll try this later but assume it's the issue. It's strange how the above code was working on the div though. I'll close as soon as I've checked. Cheers.

[2015-12-01 22:08] #34 closed

[2016-01-08 01:20] pekeler opened #35 "a bit large"
Adding this lib to my react app, it adds 12.4KB (uglified) to my built js file (3.6KB gzipped) which seems very large for what this does. Is there perhaps one of the dependencies being mostly responsible for this bloat, that could be replaced by something else?

[2016-01-08 01:40] pekeler commented on #35
Looks like loads.omit is responsible for most of the bloat (7KB uglified, 1.9KB gzipped). Can we replace that fatso?

[2016-01-08 06:22] pekeler commented on #35
I tried to fork but `npm install` fails for me. Anyways, how about replacing lodash.omit with:

[code]

[2016-01-08 08:56] contra commented on #35
@pekeler If you want to send me a PR that strips any junk you find that would be appreciated.

[2016-01-08 17:43] pekeler commented on #35
Oh man, the dependencies are way out of date and you're using gulp which I wiped from my machine ages ago.

[2016-01-08 18:56] contra commented on #35
@pekeler You realize I'm the person who wrote gulp?

[2016-01-08 18:59] contra commented on #27
closing since 0.14 is out now

[2016-01-08 18:59] #27 closed

[2016-01-08 19:02] contra commented on #3
Is this still happening?

[2016-01-08 19:02] #3 closed

[2016-01-08 20:54] pekeler commented on #35
Ha, I didn't know that. Don't take it personally - I feel the same about grunt and other JS build automation tools. First PR is ready.

[2016-01-08 21:15] pekeler commented on #35
Second PR with the actual change is ready as well. Not sure I did it correctly since it depends on the first PR. Let me know if there's a problem.

[2016-02-01 19:34] jbomeyer commented on #35
@pekeler the omit function you've used to replace lodash.omit uses Object.assign which has very poor browser support

[2016-02-01 19:47] pekeler commented on #35
'object-assign' is already a dependency. I guess we should require and use it.

I wonder if there's a way to use https://github.com/facebook/react/blob/master/src/shared/stubs/Object.assign.js instead, so we could remove the 'object-assign' dependency.

[2016-02-01 20:58] pekeler commented on #35
@jbomeyer @colindresj #39

[2016-02-01 21:24] #35 closed

[2016-02-03 18:38] colindresj opened #40 "1.1.1"
@contra wondering if you could publish a new version to npm to make #39 available

[2016-02-03 22:54] contra commented on #40
Done

[2016-02-03 22:54] #40 closed

[2016-02-04 00:39] colindresj commented on #40
Cool thanks

On Feb 3, 2016, 17:54 -0500, contra<notifications@github.com>, wrote:

[2016-02-09 09:03] NindroidX opened #41 "Feature request: Make it possible to not render a wrapper element"
Hey there!

It would be awesome if it was also possible to render multiple children without the default div wrapper. The problem with the default div, is that it can mess up the styling of certain elements in the page (the problem I'm having at the moment is that the elements that are wrapped by the default div, aren't positioned like the ones that aren't wrapped).

I guess there is a very good re

[2016-02-09 09:15] contra commented on #41
Want to take a whack at a PR w/ tests?

Should be as easy as removing the second half of this OR https://github.com/contra/react-responsive/blob/master/src/index.js#L98

[2016-03-08 11:42] nickdima opened #42 "Server rendering example"
It's not clear from [this example](https://github.com/contra/react-responsive/blob/master/samples/static/src/index.jsx) how server rendering works. I see that only the first media query has `values` passed in so I imagine the other ones "don't work" on the server. Right?
Are the values ignored client side in a universal component?
Also, is there any recommended module for pulling out those values

[2016-03-08 15:23] veeracs commented on #42
I agree, it's not clear from the docs how server rendering works.

[2016-03-08 19:43] contra commented on #42
Anyone want to submit a PR?

[2016-03-09 14:58] MichelCarroll commented on #42
+1

[2016-03-12 19:50] sergio11 commented on #42
+1

[2016-03-13 03:39] contra commented on #42
Don't submit +1s - there is a reaction button for thumbs up now.

[2016-03-16 16:29] veeracs opened #43 "Getting checksum was invalid error for server-side rendered component"
I'm getting checksum invalid error,

warning.js:45Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of server rendering. Instead, figure o

[2016-03-16 23:17] contra commented on #43
@veeracs What version of react? Can you include a sample that reproduces this?

[2016-03-17 10:08] veeracs commented on #43
@contra here are my dependencies, will get back on the sample repo that reproduces this. I've noticed it's happening in dev mode, it's seems odd that the built version doesn't have the issue.

[code]

[2016-03-18 07:42] veeracs commented on #43
@contra, here's my isomorphic app giving the error...
[code]

[2016-03-21 10:23] karanjthakkar opened #44 "Move to es6"
I'd like to move the code to ES6 using babel as the transpiler. Would you be open to such a change?

[2016-03-21 13:03] narendrashetty commented on #44
Totally agree with this. :+1:

[2016-03-21 13:03] narendrashetty commented on #44
Totally agree with this. :+1:

[2016-03-21 13:18] contra commented on #44
@karanjthakkar Yep! You can use this as the boilerplate: https://github.com/contra/react-npm-boilerplate

[2016-03-22 06:45] narendrashetty commented on #41
From what I understand a component can return only 1 node. So multiple children needs to be wrapped in a container.
References:
1. [https://github.com/facebook/react/issues/2127](https://github.com/facebook/react/issues/2127)
2. [http://facebook.github.io/react/tips/maximum-number-of-jsx-root-nodes.html](http://facebook.github.io/react/tips/maximum-number-of-jsx-root-nodes.html)

[2016-03-22 07:16] karanjthakkar commented on #44
@contra Just trying to understand the architecture here a little bit. Is there a reason why the `dist` for `sandbox` is pushed to the repo and not the `dist` for `static`? Also, is it necessary for `dist` folders to be in the repo? Can we just `.gitignore` them?

[2016-03-22 16:58] contra commented on #44
@karanjthakkar Use the new react npm boilerplate, the structure of this project is old and bad and overly complex.

[2016-03-23 06:03] karanjthakkar commented on #44
@contra Rearchitecture could be a new PR altogether. Adding it to #45 would make the PR really bloated.

[2016-03-27 13:15] deniss-muhla commented on #43
Maybe this is because of wrong backend values.
If you set on server deviceWidth and use min/maxWidth instead of min/maxDeviceWidth will get same error.

[2016-03-28 05:18] karanjthakkar commented on #44
@contra bump!

[2016-03-30 01:46] veeracs commented on #43
My question is, how do we determine a browser's viewport width/height on the server?

[2016-04-12 17:27] Aweary opened #48 "Unable to render in jsdom environment"
I'm using Jest which provides an instance of jsdom. I have a component that returns something like:
[code]

I'm trying to use enzyme's `mount` method to test that the rendered component contains a `DesktopComponent` instance, but anything wrapped in a `<MediaQuery>` instance is swallowed making it impossible to test that its there.

[2016-04-12 17:31] Aweary commented on #48
Closing as user error, `matchMedia` wasn't properly stubbed

[2016-04-12 17:31] #48 closed

[2016-04-13 15:46] MichelCarroll commented on #43
I had the same problem. I resorted to passing a default value when the server renders the component, which corresponds to a common browser width configuration. It obviously won't work in all cases, but I believe this makes the DOM re-rendering more efficient when it kicks in.

Here's an example:

[code]

[2016-04-13 15:54] veeracs opened #49 "Not usable for server-side rendered components"
This component, `MediaQuery` has a drawback when you are wrapping an isomorphic/universal react component. Just switch off JavaScript and see the components under `MatchQuery` disappear. I believe the real idea behind isomorphic components is, to also be able to render them/have them available even without JavaScript. It defeats the purpose of having universal components when they fail with JS dis

[2016-04-13 18:37] contra commented on #49
@veeracs Are you using the instructions in the README for server-side rendering?

[2016-04-13 19:09] veeracs commented on #49
@contra Yes, I've followed the instructions, let me know if I missed anything, it seems straight forward to me. My only concern is, the component should not destroy/hide the nested component when JS is disabled. I can provide a sample repo to show you what I'm talking, let me know. The server-side rendered components should be still available when browser JS is disabled, otherwise it's same as a S

[2016-04-13 20:12] contra commented on #49
@veeracs Fix for this should be simple enough, I'd gladly accept a PR for that

[2016-04-13 20:21] veeracs commented on #49
Thanks @contra! would love to contribute, let me know where the fix should be made. I'm kind of on a busy schedule now, so if you can provide some instructions on where to look for and what to change I can make changes and open a PR.

[2016-04-19 23:57] jedwards1211 opened #50 "using size of DOM element is better than using screen size"
In React, where everything is a reusable component that can be embedded arbitrary layers deep in the DOM hierarchy, components behave more predictably if their layout is determined by their own size, not the screen size.  CSS Media Queries have caused me so many problems in this regard, that I almost always opt for measuring `offsetWidth` from the container element now.

If this library is used to

[2016-04-20 16:43] contra commented on #50
@jedwards1211 I think this would be a different API rather than hacking it onto the current one (possibly even a new module).

What you're talking about sounds like Element Queries (https://www.smashingmagazine.com/2013/06/media-queries-are-not-the-answer-element-query-polyfill/)

[2016-04-20 16:51] contra commented on #50
https://www.npmjs.com/package/react-element-query ?

[2016-04-20 17:03] jedwards1211 commented on #50
@contra yeah, that's basically what I mean

[2016-04-28 19:52] ajzozakiewicz commented on #48
Can you provide an example of how you stubbed this out. Thanks!

[2016-04-28 22:43] Aweary commented on #48
@ajzozakiewicz here you go.

[code]

Note that `queryMap` is a pretty naive implementation but it works well enough. You can just add whatever queries you're using to that map (here I'm just testing greater/less than `1000px`.

[2016-05-06 02:50] NicoLB commented on #29
@jmfurlott I have the same issue. How did you fix it?

[2016-05-09 21:30] sebastialonso opened #54 "Passing over breakpoints remounts the component?"
I'm encountering a pretty messy issue with these MediaQueries. I have the following mockup component.
[code]

Everytime I resize the screen and enter the first media query, **the entire** component is re-mounted, instead of just changing the HTML. The same happens when I enter the second media query.
As far as I know, this is **not** the intented behavior of the MediaQuery component, and certainly

[2016-05-11 01:39] contra commented on #54
Is Thing being rendered inside of a mediaquery? Otherwise something else is the culprit.

Your hierarchy looks like this:

[code]

How would MediaQuery be messing up the render cycle of `Thing`? The only thing responsible for that would be the parent.

[2016-05-13 02:46] upq commented on #49
I'm not sure if those are related but Im receiving this warning after using the MediaQueries component server side rendering as described in the docs

[code]

[2016-05-18 20:49] sebastialonso commented on #54
Correct. Thanks!

[2016-05-18 20:49] #54 closed

[2016-06-02 13:01] DanilloCorvalan commented on #49
the same warnings here even by passing the values parameters
`warning.js:45: Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of serve`

[2016-06-10 04:02] jakepusateri opened #55 "Request for render prop support"
It'd be nice to allow a prop (either called `render` or just use `children`) that would be a function called during rendering with `true` if the query matches or `false` if it does not. The return value would be used as the element's children. This would allow the following pattern:
[code]
instead of
[code]

[2016-06-14 17:28] tysoncadenhead commented on #44
@contra this becoming an issue for us since we just migrated to React 15. We're getting `admin.js.gz?v=1465920666641:33636 Warning: getInitialState was defined on MediaQuery, a plain JavaScript class. This is only supported for classes created using React.createClass. Did you mean to define a state property instead?` errors all over the place. Any update on this?

[2016-06-15 12:37] bySabi commented on #55
@contra maybe we can fusionate this project with: https://github.com/bySabi/react-mediaquery-props
and build MediaQuery on top of a HOC.

This will cover @jakepusateri case.

Tell me what you think.

[2016-06-15 17:58] contra commented on #44
@karanjthakkar I left a comment already requesting it be in a certain structure, send me a PR that fits that and I'll happily merge.

@tysoncadenhead It is using createClass https://github.com/contra/react-responsive/blob/master/src/index.js#L28 not sure if your warning is a bug in v15 or what

[2016-07-07 15:54] 123ndy opened #56 "Uncaught Invariant Violation"
This works:
[code]
This creates error:
[code]

The only difference is that I use `maxWidth` in the first and `minWidth` in the latter.

Any idea why this happens?

**Error:**
`Uncaught Invariant Violation: MediaQuery.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

[2016-07-07 20:14] contra commented on #56
@123ndy React version?

[2016-07-08 07:34] 123ndy commented on #56
React version 15.2.0

[2016-07-10 16:59] nkov opened #57 "Throws error with unspecified component and empty children"
If you create a `<MediaQuery>` component and fail to specify both a) component type, and b) children, you will receive a *"TypeError: Cannot read property 'props' of undefined"*.

Examples of failing structures:
[code]

This can be avoided by either specifying `component='div'` or by inserting children. We ran into this issue because we dynamically specified the children of `<MediaQuery>`, and som

[2016-07-11 14:38] #57 closed

[2016-07-27 13:36] edwintoh-work commented on #49
@veeracs @contra I'll be glad to contribute a PR if you can point me in the right direction as well!

[2016-07-27 14:15] veeracs commented on #49
@DanilloCorvalan the prod build should not give that error, it's the dev build that gives error.

@edwintoh-work I haven't made any contribution to this repo yet, need to dig into this issue at some point.

[2016-07-27 16:27] contra commented on #49
Does anyone have a repo that reproduces this issue? Would be really helpful for anyone who wants to help fix it

[2016-07-27 17:36] veeracs commented on #49
I can create one, but that's something I can do some time next week. Thanks!

[2016-08-04 02:59] scottyantipa opened #59 "Throw an error if propType `query` is poorly formatted"
Currently you can pass a poorly formatted query string to MediaQuery and it will fail silently.  It would be nice if it threw an Error like it does for when the query is passed as attrs of the props hash.

![media-query-string](https://cloud.githubusercontent.com/assets/3643611/17388642/4e16645c-59b2-11e6-98a4-d082e3379f55.png)

Would you be open to a PR?

[2016-08-04 07:35] contra commented on #59
Yep! I would love a PR for this - thanks for the issue.

[2016-08-05 19:47] jesskrich commented on #42
Anyone news on this?

[2016-08-25 12:55] domhede opened #60 "Can't figure out how to test using Enzyme."
Is it possible to test React-Responsive components with Enzyme.

the key parts of my code look like this:

[code]

[code]
The test result is:
[code]

The relevant part of the output of the console.log is:
`<MediaQuery minDeviceWidth={750} values={{...}} />`
Indicating that Header is indeed not appearing in the render tree.  However if I remove the MediaQuery and make Header a direct child of AppCo

[2016-08-25 15:00] contra commented on #60
Not familiar with Enzyme so have a few questions:

- Is this actually being executed in a browser?
- Is the device width >= 750?

[2016-08-25 23:44] domhede commented on #60
That's a really good question.  I'm using jsdom.  The value of window.innerWidth is 1024.  I'm not sure if MediaQuery is picking that up though.

[2016-08-26 00:11] contra commented on #60
What does window.matchMedia say in jsdom?

[2016-08-26 00:34] domhede commented on #60
It's returning undefined

[2016-08-26 00:47] contra commented on #60
@domhede So yeah, since your test environment isn't a real browser I guess this won't work. It's really doing serverside rendering with a fake DOM, so you would have to follow the instructions for serverside rendering in the README.

[2016-08-26 01:22] domhede commented on #60
@contra Thank you so much for your help.  I did not know about matchMedia.
I now have this:
<MediaQuery minWidth={mediumViewMinWidth} values={{width: window.innerWidth}}>
Not sure if this is a good idea though.  The README says I need to use a static value.

[2016-08-26 01:49] domhede commented on #60
I was informed that by using window.innerWidth that would not be consistent with MediaMatch.
New method is in the test setup, set a global variable: testMediaQueryValues.
ie.
`window.testMediaQueryValues = {width:740};`
Then
`<MediaQuery maxWidth={smallViewMaxWidth} values={window.testMediaQueryValues}>`
Seems to be working well with the tests.
When not running as test env (in real browser) the gl

[2016-08-26 02:17] contra commented on #60
Great! Glad I could help.

[2016-08-26 02:17] #60 closed

[2016-09-05 02:59] ndao commented on #48
Not working with Enzyme

[code]

still getting the below and not the that component inside MediaQuery

[code]
let me know what i'm doing wrong. thanks!

[2016-09-14 17:26] rhavill commented on #56
I was getting the same error, but in my case the error was triggered by a MediaQuery component with a maxWidth. I do not know what is causing this, but screen size seems to be a factor. (I was only seeing the error when using a small screen.) In my case, wrapping the contents of MediaQuery with a div tag made the error go away. This might be an acceptable workaround for most people.

I was getting

[2016-09-14 20:13] contra commented on #56
@rhavill I think a more permanent fix is to return null when 0 children exist instead of an empty array. Want to send a PR?

[2016-09-15 02:45] contra commented on #56
Closed by #62

[2016-09-15 02:45] #56 closed

[2016-09-15 18:03] ndao opened #63 "unable to test with Enzyme"
Not working with Enzyme

[code]

still getting the below and not the component that is inside MediaQuery

[code]
let me know what i'm doing wrong. thanks!

[2016-09-15 18:40] contra commented on #63
Have you looked at this other ticket? https://github.com/contra/react-responsive/issues/60

[2016-09-15 20:29] ndao commented on #63
@contra, does that mean everywhere i use `<MediaQuery />` i have to include `values={{width: window.innerWidth}}` Is there another way?

[2016-09-15 21:39] contra commented on #63
@ndao Could default it I guess, can't think of any reason that would be a bad idea off the top of my head. Any ideas?

[2016-09-15 22:05] ndao commented on #63
@contra, default would be great unless it's real messy having default. It is annoying having to include it every time.

[2016-09-15 23:00] contra commented on #63
It's only with enzyme though, don't think it's worth adding complexity for this one case.

If it's tedious you can make your own component:

[code]

Then just use that everywhere.

[2016-09-15 23:00] #63 closed

[2016-09-29 16:14] jcfrancisco commented on #43
@MichelCarroll @veeracs The solution I went with was to utilize a [user-agent detection library](https://github.com/rguerreiro/device) to guess the breakpoint. It gets it right about 70-80% of the time for my site's traffic.

[code]

[code]

[2016-09-29 16:17] veeracs commented on #49
Here's the reference implementation where you can see the problem...
https://github.com/veeracs/isomorphic-tools-seed

[2016-09-29 17:05] contra commented on #49
@veeracs Have you tried on the latest version? Last patch release might have solved this

[2016-09-29 18:14] veeracs commented on #49
Thanks @contra, will try that and keep you posted.

[2016-10-18 21:16] contra commented on #55
Closed by #64

[2016-10-18 21:16] #55 closed

[2016-11-03 10:10] gor181 commented on #41
Would be great if we could specify the container tag element as `div`, `tr`, `td`.
Was trying to use this with tables but you cannot nest > tr > div

[2016-11-03 15:28] contra commented on #41
This works with the new function syntax, correct?

[2016-11-03 15:31] gor181 commented on #41
I just noticed that wrapper component can be set at https://github.com/contra/react-responsive/blob/master/src/index.js#L110

So in essence we should be able to set:

[code]

right?

[2016-11-03 15:35] contra commented on #41
@gor181 Yeah, that will work.

[2016-11-03 15:38] gor181 commented on #41
Thanks @contra.
Will confirm, and I guess we can close the issue then.

[2016-11-03 22:27] gor181 commented on #41
This works perfectly.

[code]

I think this can be closed.

thanks @contra

[2016-11-04 00:17] #41 closed

[2016-11-04 09:48] gor181 commented on #60
Maybe someone will find it useful, I'm doing it with Rewire:

[code]

Then use as:

[code]

Each test has `afterEach`

[code]

[2016-11-04 21:30] gf3 commented on #49
it might be handy to be able to pass in the default values on the server side via context. the server could make a reasonable guess as to the various dimensions from a given request UA and set these values somewhere near the top of the application as context.

[2016-11-07 11:33] ascariandrea opened #66 "Calling setState on componentWillMount broke iso rendering with react@^0.14"
Hi,
I'm facing an issue related to the usage of `setState` in the `componentWillMount` in component inside the `React.renderToString` function,  [react#6423](https://github.com/facebook/react/issues/6423).

Are you aware of this?
I could try to resolve this if you're intended to support it.
Thanks

[2016-11-10 22:38] steveinatorx opened #68 "is nesting the only way to use a query range with this module?"
[code]

[2016-11-10 23:47] contra commented on #68
No, it's just normal media queries. Documentation here: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries (You're looking for the `and` keyword)

You can also use the props to do the same thing `<MediaQuery minWidth={401} maxWidth={800}>`

[2016-11-10 23:47] #68 closed

[2016-11-18 20:02] manodupont opened #69 "I got two times the same component"
So i have this

[code]

At exactly 1224px, my screen looks like i have the TWO components rendered.  How is that possible ?

in clear, its rendering everything included in those two media queries, which is not supposed to cause one have minDeviceWidth and the other maxDeviceWidth. So why is rendering both ?

[2016-11-18 20:29] contra commented on #69
Yep, this is how CSS media queries work - not a bug in the component.

https://stackoverflow.com/questions/13634326/how-can-i-avoid-media-query-overlap

[2016-11-18 20:29] #69 closed

[2016-11-24 00:47] #44 closed

[2016-11-24 00:47] contra commented on #66
Still happening on v15?

[2016-11-24 02:41] OscarBarrett opened #73 "react-responsive@1.2.4 on npm missing dist"
The github release tarball has it however.
1.2.3 release is fine.

[code]

[2016-11-24 05:08] contra commented on #73
Publishing a fix new, should see it on npm update and 1.2.4 will be deprecated. Something went haywire on a publish.

[2016-11-24 05:08] contra commented on #73
1.2.5 should have it

[2016-11-24 05:08] #73 closed

[2016-11-24 08:40] ascariandrea commented on #66
Nope, they [fixed](https://github.com/facebook/react/pull/7033) it.

[2016-11-25 02:52] #66 closed

[2016-11-25 08:43] ascariandrea commented on #66
Are you ignoring the issue?

[2016-11-25 17:17] contra commented on #66
How am I ignoring the issue? They fixed it upstream and it isn't a problem anymore, so I'm closing it. There's nothing to fix.

[2016-11-25 17:27] ascariandrea commented on #66
Yep, they fixed it upstream, but the `peerDependencies ` in the *package.json* says the package is compatible with `react^0.14.0`, so it's still a problem.

[2016-11-25 17:34] contra commented on #66
If I run `npm update` or `npm install react react-responsive` and the issue doesn't persist then the issue is fixed and there's nothing to do about it.

I removed 0.14 from the package if that's what you were looking for - not that it matters because peerDependency ranges aren't enforced.

[2016-11-25 17:46] ascariandrea commented on #66
I didn't want the `peerDependencies` to be modified and I even didn't want a fight on this.
I use your package (as a lot of people do) and I had an issue, I reported it and tried to help with a PR that you closed without a real discussion. As being said, thank you for your time, I won't bother you again.   👍

[2016-12-20 02:40] kennynaoh opened #74 "Could you offer the minified file?"
Hello @contra , I am the member of [cdnjs](https://github.com/cdnjs/cdnjs) project. We want to host this library. There is a question want to ask. Could you offer the minified file for `react-responsive.js` on npm package? We need to mention the minified file in `package.json`. Thanks for your help!

https://github.com/cdnjs/cdnjs/issues/9233

[2016-12-23 06:03] contra commented on #74
Want to send a PR to add that to the build step?

Or you could add something to cdnjs that minifies, because more library authors aren't including those anymore. It's expected that the user has their own bundling step.

[2017-01-02 18:13] harrythedev opened #75 "react-responsive not working on windows OS"
i've tested this across different browsers and OS.
somehow it doesn't work on windows.
any ideas?

and react-responsive capable of being used in production?

[2017-01-02 18:38] contra commented on #75
Can you provide more info on this? What isn't working?

[2017-01-09 15:12] yvele opened #76 "ReferenceError: Unknown plugin "transform-runtime""
Just to let you know that the following errors:

 - `Module build failed: ReferenceError: Unknown plugin "transform-runtime"`
 - `Module build failed: ReferenceError: Unknown plugin "add-module-exports"`
 - `Module build failed: ReferenceError: Unknown plugin "stage-0"`
 - `Module build failed: ReferenceError: Unknown plugin "es2015"`

...happens wen I use babel to parse the source code of this pr

[2017-01-19 01:15] tinder-vjancik opened #77 "Bundles babel-runtime unnecessarily"
This is a small library, you are bundling with it `babel-runtime` and distributing it through npm.

The babel-runtime bloats the size of this library to:
Unminified: 67kB
Minified: 25kB
Gzipped: 8kB

Could you please polyfill selectively? `babel-runtime` is a huge dependency.
You don't seem to use that many non ES5 functionality anyway.

[2017-01-19 01:19] tinder-vjancik commented on #77
I actually can't find a single primitive, in need of polyfilling, in your 3 code files.
Removing `babel-runtime` reduces the library size to **19kB**

[2017-01-19 01:25] tinder-vjancik commented on #77
Implemented here: https://github.com/contra/react-responsive/pull/78

[2017-01-19 03:01] #77 closed

[2017-01-19 03:01] contra commented on #77
Thanks!

[2017-01-24 18:16] csprance commented on #68
This might be a good thing to stick in the examples on README.md.

I had to stumble upon it in here, because I figured it existed, sometimes nesting is not always the prettiest solution. Great work on the component I'm implementing it at Rebelhorizons.com !

[2017-01-24 18:17] contra commented on #68
@csprance Want to send a quick PR to add more to the docs?

[2017-01-31 06:28] BarryThePenguin opened #80 "react@0.14.0"
Is there a reason `react@0.14.0` isn't listed as a [`peerDependency`](https://github.com/contra/react-responsive/blob/bc692990d149f8a08bad4a12df78691816f75e81/package.json#L34)? I saw #66 had problems with server side rendering, but like you mentioned it was an upstream issue. Apologies if this is opening old wounds 😳

Edit: should mention that this causes `npm shrinkwrap` to fail..

[2017-01-31 16:25] contra commented on #80
Can't remember why but for some reason this didn't work with 0.14, if you think it works fine and can't find any issues that say otherwise feel free to send a PR that adds it back in and I'll publish a release

[2017-02-14 07:28] kopax opened #81 "Using react-responsive with react-collapse"
I am trying to implement a collapse for a certain width.

I am using :

- https://github.com/contra/react-responsive
- https://github.com/nkbt/react-collapse

This is my jsx:

[code]

But the collapse isn't working anymore. I have also tried like this :

[code]

same result, does anyone has figure out how this would be possible ?

[2017-02-14 14:55] contra commented on #81
Shouldn't it go inside the media query? What do you want the end result to be? Collapse on mobile, no collapse on desktop?

[2017-02-15 04:13] kopax commented on #81
I have tried both (updated the question to reflect that change)
I am looking to do the same navbar menu as in bootstrap.
It' should do exactly like in https://v4-alpha.getbootstrap.com/components/navbar/

[2017-02-15 09:31] kopax opened #82 "How to trigger a setState on media break point change ?"
I wan't to trigger a setState when the media width change, is this possible ?

Is there an utility for that ?

[2017-02-15 17:20] contra commented on #82
We could add an onChange function, want to send a PR?

[2017-02-16 15:38] Shadowman4205 commented on #42
Is there any good example for getting values auto?

[2017-03-07 15:37] yardim commented on #75
Seems like I faced the same issue. Problem is when used touch screen emulation in chrome everything is ok. But if just resize browser MediaQuery is not work.

PS: sorry for my bad English :(

[2017-03-09 03:56] jesstelford commented on #80
We haven't had any issues with v0.14.x, used across 10's of different modules. I'll open a PR.

[2017-03-14 16:16] #80 closed

[2017-03-23 15:55] JohnAllen opened #84 "_react.PropTypes.oneOfType is not a function"
I'm getting ` _react.PropTypes.oneOfType is not a function` when `require`-ing this package.  What am I doing wrong?

This is my code where it fails on the second line:

[code]

[2017-03-23 16:06] #84 closed

[2017-04-02 21:58] julenr commented on #75
Hi, in my case it works perfectly on Chrome but doesn't with Edge, IE 11 and Firefox 55

[2017-04-05 08:41] awahlfischle opened #85 "Not respecting values or width attribute"
I'm trying to use the MediaQuery in my current project.

Everything works fine, till it comes to testing with Enzyme.

I therefore tried the approaches in #60 and #63 regarding servier-side-renderings. I also found the following stackoverflow-comment: http://stackoverflow.com/questions/39146252/how-do-i-test-react-responsive-components-with-enzyme

Unfortunately i cannot even make to work with har

[2017-04-05 13:50] contra commented on #85
duplicate of https://github.com/contra/react-responsive/issues/63 and https://github.com/contra/react-responsive/issues/60 and https://github.com/contra/react-responsive/issues/48

[2017-04-05 13:51] contra commented on #85
oh, just read the last half that those didn't help you. maybe you should use device width instead of width?

[2017-04-05 14:32] kud opened #87 "[Question] What's the main difference with react-media?"
https://github.com/reacttraining/react-media

[2017-04-05 14:43] contra commented on #87
Doesn't look like anything, other than ours being first and maybe ours having better browser support. Not sure why they made their own - didn't see any tickets from them about issues or features they wanted, maybe they did it for fun.

[2017-04-05 14:43] #87 closed

[2017-04-05 14:45] contra commented on #87
Also, maybe I didn't look through the code enough but it looks like it doesn't watch for changes?

[2017-04-05 16:21] kud commented on #87
Hehe, okay. Anyway, i'm glad with yours so, I won't change. :)

Thank you for your time.

[2017-04-05 23:41] devdoomari commented on #49
@gf3 hope someone makes a library that does UA --> dimensions :)

[2017-04-05 23:47] contra commented on #49
@gf3 would be pretty easy, want to send a PR?

[2017-04-05 23:49] gf3 commented on #49
i don't even have time to maintain my own open source packages

[2017-04-06 08:34] awahlfischle commented on #85
Should I go with the values approach like

`<MediaQuery minWidth={992} values={{deviceWidth:100}}> {matches => { console.log("matches", matches) return <div>RENDER</div> }} </MediaQuery>`

or with the direct prop:

`<MediaQuery minWidth={992} deviceWidth={1000}> {matches => { console.log("matches", matches) return <div>RENDER</div> }} </MediaQuery>`

Tried both, also not respecting :(

And I'm rea

[2017-04-06 13:58] contra commented on #85
@awahlfischle Both of your examples are way off, you should check the docs for how these props work. In your first example, you set the device width to 100px but set the constraint to 992px, so obviously it isn't going to match. In the second one you set one constraint of minWidth to 992px but set no values (`deviceWidth={1000}` isn't valid or how you do this)

This is what I was saying to do:

`<

[2017-04-06 13:58] #85 closed

[2017-04-10 13:30] alex-ayala commented on #76
I am coming across a similar issue:

`Module build failed: ReferenceError: Unknown plugin "add-module-exports" specified in`... path to react-responsive package.json.

I am also excluding node_modules in my webpack.config: `{ test: /\.jsx?/, exclude: ["/node_modules/"], loaders: ['babel'] },`.

Any help on this would be appreciated.

[2017-04-18 00:48] narmadham commented on #3
@contra It is still happening. I am trying to return null from a render..I get an error - props of null.

[2017-04-18 02:01] contra commented on #3
Can you put your full code block? Not sure what `<Breakpoint>` is

[2017-04-18 10:04] rmdort opened #89 "Publish a new version to NPM with prop-types"
Hi, Could you publish a new version with external `prop-types` library. I think the pull request is merged already.

[2017-04-18 18:45] contra commented on #89
done

[2017-04-18 18:45] #89 closed

[2017-04-18 21:25] axelav commented on #43
@jcfrancisco this *almost* works for me, but I get a `Error: Invalid or missing MediaQuery!` thrown. it looks like you're defining `matchers` as the media query to use, but how does that gets passed into the `VendorMediaQuery`? I can't see any way to pass an object in using this package, let me know if you have a solution!

[2017-04-22 13:16] dsernst opened #93 "Fatal: react-responsive.js: Unknown option: .../node_modules/react/react.js.Children"
Hi, I'm trying to use this library with [`react-native-web`](https://github.com/necolas/react-native-web), as recommended [here](https://github.com/necolas/react-native-web/blob/master/docs/guides/style.md#media-queries):

But I'm immediately getting a fatal error when I try to import the dependency.

Line 4 of my file `LoginScreen.js` says:

[code]

Which is throwing a fatal error in webpack:

[c

[2017-04-22 13:28] dsernst commented on #93
Since it's a babel error, that's only being triggered once this library is imported, I wonder if it could be related to the [`babel.presets` section of this lib's `package.json`](https://github.com/contra/react-responsive/blob/ab7ff5cddcba1f22f3ace26dd777bbc530449c6c/package.json#L79-L83)?

Deleting the contents of that array resolves the build error, and the library works! 🎉

Now I wonder what so

[2017-04-22 18:00] Galti commented on #75
Does not work on any browser except Chrome.

[2017-04-22 20:54] contra commented on #93
You should ignore node_modules from your babel config in webpack

Add `exclude: /node_modules/` to the babel-loader config

[2017-04-22 20:54] #93 closed

[2017-04-22 20:56] contra commented on #75
@Galti Eh? I've tested this all the way back to IE6 using shims and it worked fine. What problem are you having?

[2017-04-23 22:21] dsernst commented on #93
Thanks, that worked with a little tweak. I had to use

[code]

because some of my other dependencies *do* require babel.

Thanks for your help and the great library. 😄

[2017-04-24 00:24] contra commented on #93
@dsernst Typically the pattern people use is to pre-compile their libraries, which reduces compile time and doesn't make any assumptions that people are using tooling like webpack. Don't think I've ever run into a dependency that requires you to babel it, but glad it worked for you.

[2017-04-24 00:35] dsernst commented on #93
Yeah, that makes sense.

It looks like the main problem is [`react-native-tabs`](https://github.com/aksonov/react-native-tabs), which probably assumes it's being run in `react-native` (with its default webpack config), not [`react-native-web`](https://github.com/necolas/react-native-web).

[2017-04-24 07:54] Galti commented on #75
@contra Excuse me, it was confusion. It works great! Thank you.

[2017-04-24 12:25] dsernst opened #94 "Boolean Logic?"
Is there an idiomatic way to combine two media queries with boolean AND or OR?

How does this library compare with this? [CSS Media Queries & Logical Operators: A Brief Overview ;)](http://stackoverflow.com/a/23524569/2348750)

[2017-04-24 12:34] dsernst commented on #94
Perhaps our best bet is something like this?

[code]

[2017-04-24 15:29] contra commented on #94
@dsernst You can do that, you can also put and/or clauses in your queries as a string if you don't like nesting.

[2017-04-24 20:56] dsernst commented on #94
Thanks

[2017-04-24 20:56] #94 closed

[2017-04-25 00:12] oleggromov commented on #76
I'm using

[code]

and those dependencies
[code]

and the same thing has happened after I included `react-responsive` to my project.

[code]

[2017-04-25 00:54] contra commented on #76
Your babel is running on node_modules, add `exclude: /node_modules/` to your babel configuration to prevent this - what you have currently isn't the correct option

[2017-04-25 00:54] #76 closed

[2017-04-25 04:29] oleggromov commented on #76
In my case it was supposed to be excluded but I'm not sure now. Unfortunately I've already switched to another solution but anyway, thank you for the answer!

[2017-04-27 06:09] scottwarren opened #95 "Live Demos/Examples"
Apologies if I missed this, but it'd be good to have a live demo (likely using Github pages - but open to ideas) what do you think?

Happy to submit a PR but want to check before going down that path :-)

[2017-04-27 18:11] contra commented on #95
We have a samples folder already with some stuff you can start from, PR would be great

[2017-04-29 13:56] scottwarren commented on #95
Looks like [this page](http://contra.io/react-responsive/) that's generated is enough, it would be good to link in the Readme though.

[2017-04-29 13:56] #95 closed

[2017-05-02 12:14] narmadham commented on #3
Hi @contra Apologies for the delay in response.I have updated the code above.

[2017-05-08 15:27] #82 closed

[2017-05-08 22:52] hiddenboox opened #98 "Please push new release to NPM"
Hi @contra, I think it will be great if we will have the most recent version of this component on NPM.
Thanks a lot! 🎉

[2017-05-09 01:12] contra commented on #98
Publishing a new minor release now

[2017-05-09 01:12] #98 closed

[2017-05-09 18:12] edencorbin commented on #75
Looks like this can be closed, but I thought, since nobody mentioned what their resolution was, for me I was using min-device-width and looking for win-width.

[2017-05-09 21:09] #75 closed

[2017-05-18 11:01] danieleleoni commented on #42
Here the same.
We have also some problem understanding what `deviceWidth` stands for.

[2017-05-19 19:53] PeteJodo opened #99 "[Question] Possible for unintended side effects?"
I'm curious what occurs when using this package with something like [react-modal](https://github.com/reactjs/react-modal) that has side effects (DOM operations) in combination with Redux.

Lets say you have a `ChildSm` component and a `ChildLg` component which both can render a modal by looking at the same property in redux state when that property is `true`. So if you have something like this...

[2017-05-19 20:40] contra commented on #99
The lifecycle won't be initiated unless the component is actually going to hit the DOM, so it will never be rendered unless the query matches. AFAIK the constructor shouldn't even be called, a `<Element />` is a stand-in for the real thing before it figures out what is actually going to be used.

We do support functions as children if you still have any concerns about it, but this shouldn't be an

[2017-05-19 20:40] #99 closed

[2017-06-16 18:43] sjscott84 opened #103 "Div inside media query not rendering on device"
Hi - I had a div tag inside a media query that was being displayed correctly on the Chrome iphone emulator but when I viewed my app on a device the div was not being rendered (in Safari or Chrome, I checked both).  As part of my testing I discovered that if I put a p tag (or I assume any tag) directly after the media query but before the div, the div would be correctly displayed (again, on both Sa

[2017-06-16 18:55] #74 closed

[2017-06-16 18:56] contra commented on #103
Can you make a repo that reproduces the bug with as little code as possible?

[2017-06-16 18:58] sjscott84 commented on #103
Sure - will do now. thanks

[2017-06-16 19:42] sjscott84 commented on #103
Ok - was able to replicate.  Created repo https://github.com/sjscott84/React-Responsive-Bug-

If viewed in browser (I used Chrome) the maxDeviceWidth={800} media query is visible in the iphone emulator, however if you view on a device (I just connected to localhost on my device) the div is no longer visible.  If you uncomment the p tag it will become visible on device.

[2017-06-23 19:11] ncochard opened #104 "Memory leak"
Hello

In our website, we are using the component `react-responsive`.  We experienced memory leak. See the screen-shot below from the profiler in Chrome. Note the number of listeners increasing to 23,177 over time. If I use the website for a while this number keeps on increasing.

![bad-listeners](https://user-images.githubusercontent.com/1793510/27496750-3b119628-584f-11e7-8c32-7cedcb202fd2.png)

[2017-06-24 15:13] contra commented on #104
@ncochard Thanks! Pretty silly for the module we use to keep a bunch of open listeners, but nice job spotting it.

[2017-06-30 13:08] Shadowman4205 commented on #43
@contra  Any suggestion to this?

[2017-06-30 15:01] contra commented on #43
Fundamentally here is what this component does:

- Detects the viewport of the *device*
- Shows/hides stuff based on that

If you render it on the server, it has no idea what the viewport of the browser/device is. It can make a guess, but ultimately has no idea how a person is holding their phone or what size the window they have it in is. The server sends down its guess render, then the client do

[2017-06-30 15:01] #43 closed

[2017-07-05 15:00] jcfrancisco commented on #43
@axelav I'm sure you've already figured it out by now, but I updated my snippet to fix the typo. I'm just passing in matchers in as a prop:

`<VendorMediaQuery {...matchers} values={values}>`

[2017-07-06 12:33] ddcech commented on #49
Instead of using `deviceWidth`, we used `width` and it solved this issue for us.
[code]

[code]

[2017-07-11 18:04] jamesjryan commented on #103
Having the same issue. If I use Chrome 59 dev tools to set the browser as "Responsive" device and resize the boundaries the elements hide and show correctly. By using the browser in the normal fashion and resizing the window the state does not update and elements are not hidden/shown.

[2017-07-12 15:03] rollymaduk commented on #103
Hi, same issue here!, cann't seem to get it to work when resizing normally, in chrome but works with dev tools responsive device toggling!

[2017-07-13 08:41] Abdul-majid-ashrafi opened #105 "Print media query"
**Hello,**

_Note: I want to change some UI on the print time
Thanks_

[2017-07-13 20:53] ncochard commented on #104
Hello

I've just submitted the [pull request](https://github.com/contra/react-responsive/pull/106) to fix this bug.

Regards

[2017-07-14 04:35] tonywong625 opened #107 "Media Query in Functions"
Is it possible to use this in functions?

ie

[code]
something like that?

[2017-07-14 14:32] #104 closed

[2017-07-14 14:33] contra commented on #107
@tonywong625 No you can't use react components like that. You can use the matchmediaquery module directly for this.

[2017-07-14 14:33] #107 closed

[2017-07-14 14:40] contra commented on #42
I don't use server-side rendering so I can't document it - if somebody does use server-side rendering I'm happy to take a PR to add an example. I know plenty of people use this server-side because I get tickets for it all the time, so if one of you could help out that would be appreciated.

[2017-07-14 14:42] contra commented on #50
Yeah, this module is a wrapper on media queries for react. If you want element queries there are other modules and CSS specs for that.

[2017-07-14 14:42] #50 closed

[2017-07-14 14:44] contra commented on #59
Technically I don't think there is a way to validate these - the matchMedia API works with arbitrary strings that are technically valid. Closing unless somebody points me to somewhere in the spec that says what is valid.

[2017-07-14 14:44] #59 closed

[2017-07-14 14:44] contra commented on #49
Merging with #42 since they have the same solution - documentation.

[2017-07-14 14:44] #49 closed

[2017-07-14 14:45] contra commented on #81
Closing this due to stagnation, if it's still an issue I'll reopen it - just leave a comment.

[2017-07-14 14:45] #81 closed

[2017-07-14 14:46] contra commented on #105
You can specify it in the media query like normal

`print and (max-width: whatever)`

[2017-07-14 14:46] #105 closed

[2017-07-14 21:28] modosc commented on #42
we have a solution working that i'm trying to package up as a separate module but the basic gist is:

1.  we use [mobile-detect](https://github.com/hgoebl/mobile-detect.js) on the server to distinguish between phone / tablet / desktop on the initial render.
2. based on that we can figure out a minimum screen size (we use bootstrap so we use `screen-xs-min`, `screen-sm-min`, and `screen-lg-min`)
3.

[2017-07-16 17:54] neolectron commented on #103
+1

[2017-07-16 21:41] tonywong625 commented on #107
ok thanks

[2017-07-17 13:48] mystrdat opened #110 "Element does not suffice"
Often you want to work with responsive variables inside your component logic and the element implementation is useless for that purpose. Why are the responsive variables not exposed through other means as in competing libraries? Implementation of https://github.com/AStaroverov/v-media-query comes to mind immediately, offering much more flexibility.

[2017-07-17 14:07] contra commented on #110
Is there a reason your issue is so aggressive and nasty or are you just a nasty person?

"Responsive Variables" What do you even mean by this? The example you provided looks like a clusterfuck, I'm not interested in implementing anything like that.

If you can provide a reasonable example, flesh out the idea a little bit, and ditch the attitude then we can have a productive conversation about it.

[2017-07-17 14:07] #110 closed

[2017-07-17 14:18] mystrdat commented on #110
Nice attitude you have there boy, let me descend to your level and explain. Your fucked up library is insufficient to deal with common front-end usecases, where just showing or hiding a html block is not enough. If you can't imagine such a usecase, a single mechanism where this is necessary, maybe you shouldn't be writing libraries to deal with problems you don't even fucking understand. I'm not i

[2017-07-17 14:38] contra commented on #110
lol

[2017-07-18 11:35] kunal-arora opened #111 "UC Browser Support"
[code]
On UC Browser for android it always renders Desktop Header.

[2017-07-18 15:12] contra commented on #111
Why provide the values? It will always match the same thing no matter where you render it.

What engine does UC browser use under the hood? Does it support media queries?

[2017-07-18 17:13] mystrdat commented on #110
Very well, I see your twitter mob of 5 fanboys and raise you the following. The tone of this convo is on you, when you come off as an elitist prick that's the mirror you get, whether you're paid for this or not is irrelevant to me. Nothing is often better than shit. React having poor flow patterns is one thing and I can see how that forces your hand, but that doesn't mean you have to embrace it fo

[2017-07-18 17:32] contra commented on #110
@mystrdat You can use a function as a child instead of an element and implement your logic however you want. Here is your exact example solved:

[code]

More information in the docs: https://github.com/contra/react-responsive#rendering-with-a-child-function

Elitist prick? Twitter mob? Every escalation came from you - seek help bud.

[2017-07-19 08:59] nelsyeung commented on #103
Same issue here with Firefox. Dev tools resize works but not normal browser resize.

[2017-07-19 09:21] kunal-arora commented on #111
Since I am using server side rendering, I was just trying if the change in values prop effect the rendering, I will be adding the value dynamically later on. As far as I have tested it is supporting media queries. Funny thing that it seems to be working on the UC Browser's ios app but not on the android one. Overall it looks like a browser issue and not a library issue.

[2017-07-19 16:13] contra commented on #111
Cool, going to close this then if it is a browser issue

[2017-07-19 16:13] #111 closed

[2017-07-29 17:49] ghostsquad opened #113 "Not compatible with Preact"
I was wondering if you could investigate how easy/hard it might be to support Preact?

For whatever reason, this simple thing doesn't render anything when using Preact:

[code]

![image](https://user-images.githubusercontent.com/903488/28747147-f8acb014-744c-11e7-9be1-1d97f70c9ed9.png)

[code]

I found this issue, which seems to be related, but I have aliasing setup correct, and latest versions of

[2017-07-29 18:12] ghostsquad commented on #113
Oh, I figured out the problem. I was doing:
[code]
instead of
[code]

I'll submit a PR so this doesn't bite any else.

[2017-07-29 18:12] #113 closed

[2017-07-30 18:48] contra commented on #113
Not a bug, not sure why you destructured. Most libraries don't have usage like this unless they export multiple components.

[2017-08-03 02:40] pinkynrg commented on #103
+1

[2017-08-10 15:38] nelsyeung commented on #103
@jamesjryan @rollymaduk If you are using `minDeviceWidth` or any set of `deviceWidth` media queries, it won't work in the browser. Device width is used to target specifically for mobile devices. When toggling dev tools, it emulates an actual device so that's why it works.

https://stackoverflow.com/questions/18500836/should-i-use-max-device-width-or-max-width

[2017-08-10 16:17] nelsyeung commented on #103
@sjscott84 I don't believe this is an issue with react-responsive, but iOS safari rendering SVG within a flexbox within another flexbox problem. I can investigate further for you if you want but it's most likely to be a CSS problem rather than this module. I said mostly likely because I don't know what you see on your phone; on my iPhone 6 Safari, this seems to be the case, so correct me if I'm wr

[2017-08-10 16:30] jamesjryan commented on #103
@nelsyeung that is not clear from the docs and is causing confusion.

[2017-08-15 04:05] sjscott84 commented on #103
@nelsyeung Thanks for investigating this, if you think it is a css problem, I am happy with your assessment.  Either way, at least there is an easy work around.

[2017-08-15 23:55] contra commented on #103
Yeah going to close this as it seems to be a CSS issue - I dug and dug and could not find any way this would be on us.

[2017-08-15 23:55] #103 closed

[2017-08-22 15:31] jonkwheeler commented on #42
Any movement on this?

[2017-08-22 16:17] contra commented on #42
@jonkwheeler https://github.com/contra/react-responsive/issues/42#issuecomment-315376823

[2017-08-22 16:19] modosc commented on #42
i can write up an example - feel free to assign this to me.

[2017-08-22 16:22] contra commented on #42
@modosc Thanks! Will do.

[2017-08-24 01:01] NickCarton opened #115 "Demo doesn't work in IE9"
Hi,

I have noticed that your library's demo doesnt work in IE9.
I'm testing this using the IE11 dev tools to emulate IE9.

The page displays: "If you see this then something is wrong."
and the console says: SCRIPT5007: Object expected sample.js (18774,5)

Could it have something to do with MatchMedia not being supported in IE9?

And if I want to use your library in IE9, what polyfills do you reco

[2017-08-24 17:36] contra commented on #115
https://github.com/contra/react-responsive#browser-support

[2017-08-24 17:36] #115 closed

[2017-08-25 09:09] Janekk commented on #60
Try mocking the *react-responsive* dependency in you unit test. Working with Webpack, I'm using "inject-loader" for injecting test dependencies to modules. You can import your component using "inject-loader" and pass it which dependencies you want to overwrite.

Example:

    import YourComponentInjector from 'inject-loader!../YourComponent.jsx';

and then

    class MediaQueryDesktopMock extends

[2017-09-11 18:58] jonkwheeler commented on #42
@modosc just checking status. Cheers 🍻

[2017-09-11 19:50] modosc commented on #42
it's hard to write up an example that's standalone - some sort of global state (redux) is really useful but then it's hard to generalize. maybe i'll just do it with some react/redux/boilerplate, i'll look into it this week.

[2017-09-12 13:25] cloud-walker commented on #42
There is nothing we can really do, there is no clean solution, afaik..

The problem is that the server can't know the device size from http requests, so I can't see a serious way to go...

[2017-09-12 15:13] jonkwheeler commented on #42
Yeah I get that. The README said it was possible, and @modosc confirmed they are doing it, so I'm very curious as to their approach. I've thought about toying with a loader approach - just having a dummy container that has a loading icon on it, and then once Client-side, load in the content. But I haven't got it looking elegant yet.

[2017-09-12 16:46] modosc commented on #42
i'm actually porting our code into a npm module now, hopefully this will help people.

[2017-09-13 14:00] juandc opened #116 "Minor issue in Common use cases"
https://github.com/contra/react-responsive#common-use-cases

[code]

[2017-09-13 15:52] #116 closed

[2017-09-13 15:52] contra commented on #116
Nice catch - in the future please state the problem in the issue body so I don't have to read a block of code looking for it.

[2017-09-13 15:56] juandc commented on #116
Okay agreed, Next time 👍

[2017-09-13 21:11] modosc commented on #42
i just published [react-responsive-redux](https://github.com/modosc/react-responsive-redux) to npm. the docs walk though the setup to get SSR + `react-responsive` working (basically what i outlined [here](https://github.com/contra/react-responsive/issues/42#issuecomment-315472304)). my workplace has been using a variation of this code for a while now with positive results and is now using this mod

[2017-09-13 22:20] contra commented on #42
@modosc Feel free to send a PR that plugs it in the README, thanks!

[2017-09-22 20:46] soska opened #118 "Consider exporting toQuery?"
I want to change a class based on media queries, and while it is possible to do it like:

[code]

I'll rather use your already awesome work and do it like

[code]

just to keep stuff consistent.

btw, thank you for this awesome package.

[2017-09-22 22:39] contra commented on #118
You can try importing `react-responsive/src/toQuery` directly, otherwise we could export it. Would be a great starter PR if you'd like to submit it.

[2017-10-02 19:07] whatknight opened #122 "Consider removing match media polyfill?"
It'd be a breaking change but users that don't need the polyfill could get a lighter bundle.

for ref: http://caniuse.com/#feat=matchmedia

[2017-10-02 19:15] contra commented on #118
@soska Did that work? Going to close this since it should work fine.

[2017-10-02 19:15] #118 closed

[2017-10-02 19:17] contra commented on #122
@whatknight We don't include a polyfill for matchmedia, we just recommend some in the README.

The module `matchmediaquery` that you might be thinking of isn't a polyfill - https://github.com/ncochard/matchmediaquery/blob/master/index.js

[2017-10-02 19:17] #122 closed

[2017-10-02 20:20] whatknight commented on #122
no you're right! i was mistaken

[2017-10-15 14:54] mulmulovich opened #123 "Cannot find module './factoryWithThrowingShims'"
when running gulp test i'm getting this error
works OK for gulp dev.

please assist

[2017-10-17 15:40] sethomas opened #125 "minWidth and maxWidth same value, dupe content, expected?"
CSS Media Queries will apply both selectors for min and max width when the values are the same:
[code]

`react-responsive` does the same thing. Is this by design?

The example in the read me implies to use `minWidth` and `maxWidth` same values would be correct.
[code]
 But:
<img width="512" alt="screen shot 2017-10-17 at 10 31 58 am" src="https://user-images.githubusercontent.com/3957314/31674241-

[2017-10-17 17:14] contra commented on #125
Don't want to change any of our media query stuff to be different from how CSS works.

Solutions for you:

- Write your queries a little differently by making the numbers not the same
- Use a function child to decides to render things how you want

Can provide more info on #2 if you need help but there are some useful things in the README about it.

[2017-10-17 17:14] #125 closed

[2017-10-17 19:45] xaviergonz opened #126 "up to date typescript definitions?"
I'm using the type definitions at https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-responsive but they seem pretty outdated.

Any chance the type definitions are added to the package itself?

What especially bothers me is the lack of a style?: React.CSSProperties prop type, since the MediaQuery uses a div to wrap the children and I need to be able to style it.

Or actuall

[2017-10-17 19:49] contra commented on #126
@xaviergonz Don't write/want to write typescript so don't think adding the definitions to the package is going to happen.

If you have any ideas to improve the typings you should open a ticket on that repo: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-responsive

I would assume that since the typings extend the base react component typings that it would inherit the st

[2017-10-17 19:49] #126 closed

[2017-10-17 19:49] contra opened #127 "use fragments instead of wrapper elements"
https://www.robinwieruch.de/what-is-new-in-react-16/

[2017-10-17 19:55] sethomas commented on #125
@contra Thanks for response! Mostly wanted to know if intentional.

[2017-10-17 20:04] contra commented on #125
@sethomas For your example using functions, btw:

[code]

[2017-10-18 17:59] xaviergonz commented on #126
This is the wrapper tsx file I created for v3.0, just in case it is useful for anybody

[code]

[2017-10-22 17:35] SamyPesse commented on #42
For those not using Redux, I've released a simple wrapper around `react-responsive` to define the define once in an HOC: [`react-responsive-hoc`](https://github.com/SamyPesse/react-responsive-hoc)

[2017-10-24 14:21] alechill commented on #126
Updated at https://github.com/DefinitelyTyped/DefinitelyTyped/pull/20949

For what its worth, `style` and `className` etc are part of `HTMLAttributes` interface which is only applied to intrinsic HTML element components, so have to be specified as props to custom components anyway in typescript-land

But this issue aside the update to v3 changed the module exports so the type defs were completely

[2017-10-27 05:24] contra commented on #123
`rm -rf node_modules && npm install`

[2017-10-27 05:24] #123 closed

[2017-10-27 05:24] contra commented on #42
@SamyPesse Want to add it to the README? Go ahead and send a PR.

I'm going to close this since we've got multiple ways documented to do this now.

[2017-10-27 05:24] #42 closed

[2017-11-01 10:52] nglgzz opened #131 "Unknown plugin "add-module-exports""
Hi, I'm trying to use this library, I followed the steps on the readme, but I get this error when building.

[code]

I'm using React v16.0.0. Any idea what the problem could be?

[2017-11-01 14:58] contra commented on #131
You're running your babel on your dependencies, you should add `exclude: /node_modules/` to your  webpack JS loader config

[2017-11-01 14:58] #131 closed

[2017-11-01 15:37] nglgzz commented on #131
That fixed it, thanks a bunch!

[2017-11-15 23:46] #127 closed

[2017-11-20 17:35] sontek opened #133 "What changes are in 4.0.0?"
ChangeLog only has 3.0.0

[2017-11-20 19:46] contra commented on #133
@sontek Sorry, the changelog script has been busted for a while.

4.0.0 adds support for fragments in react 16, introduces a minimum dependency of react 16, and removes the wrapper element needed in previous versions of react. PR: https://github.com/contra/react-responsive/pull/132

Haven't had much time to clean up the repo but if anyone sees this and wants to help out, fixing the changelog gener

[2017-11-20 19:46] #133 closed

[2017-11-20 20:55] collinksmith opened #134 "Cannot find module './factoryWithThrowingShims'"
Same error as #123, but clearing node_modules and installing from scratch did not resolve it.

My build process uses gulp and browserify. I get the same error for both prod and dev builds.

The first version in which I get this error is v2.0.0, and it is still present in v4.0.0. It looks like the line that throws the error was added in the commit to [update webpack](https://github.com/contra/react

[2017-11-20 23:22] contra commented on #134
Can you make a repo that reproduces the issue? Tried clearing npm cache?

[2017-11-21 03:33] efdi commented on #134
Just added react-responsive to my project and can confirm the issue.
Clearing node_modules and npm cache does not resolve it.
Using 1.3.4 helps.

Also am using browserify (via browserify-rails) and babel (with 'es2015' and 'react' presets).

[2017-11-21 15:12] kud opened #135 "Changelog for 4.0.0?"
I don't see it https://github.com/contra/react-responsive/blob/master/CHANGELOG.md

[2017-11-21 15:52] contra commented on #134
Pushing up a maybe-fix as 4.0.1, give it a try and let me know if it works. Clear npm and cache then reinstall it.

[2017-11-21 16:01] kud commented on #133
The changelog is mostly important when you dump so much the version of the project.

When I saw 4.x.x from 3.x.x, I thought I had something to change in my app. But apparenly no. :)

[2017-11-21 16:39] contra commented on #133
@kud It is a breaking change so it required a major version release. Some people may have been depending on the wrapper element in either tests or CSS.

[2017-11-21 16:47] kud commented on #133
It's true. Thank you. :)

[2017-11-21 18:54] collinksmith commented on #134
@contra Thanks. I wasn't able to try out your change because it doesn't seem to be available on npm, but I did make a simple repo that reproduces the error - https://github.com/collinksmith/react-responsive-test.

[2017-11-21 19:57] contra commented on #134
@collinksmith Publish didn't finish - should be good now. 4.0.2

[2017-11-21 21:34] contra commented on #134
Ah, I found the issue. webpack only transforms code blocks that are accessed, there is a `require('./factoryWithThrowingShims')` in a `if(false)` - browserify must see this and still try to load it in as a dependency.

I would say both webpack and browserify are being stupid here. Anyways, I'll add something to minify out the dead code so browserify doesn't blow up on it.

[2017-11-22 03:25] #134 closed

[2017-11-22 03:25] contra commented on #134
@collinksmith Published as 4.0.3

[2017-11-22 18:42] collinksmith commented on #134
Fix confirmed, thanks!

[2017-11-29 10:09] PatrikMatiasko opened #136 "Problem with props 'id' and 'className'"
Hi,

I have problem, when I set 'id' or 'className' to component 'MediaQuery' or 'Responsive' this component stop working correctly when query mach resolution, and it crash.

This is console error:

`Warning: Can only update a mounted or mounting component. This usually means you called setState, replaceState, or forceUpdate on an unmounted component. This is a no-op.`

`Please check the code for

[2017-11-29 14:02] contra commented on #136
The error looks like it is coming from somewhere else. Can you make a JSFiddle or a repo that reproduces the issue in isolation?

[2017-11-29 17:10] jessepinho commented on #63
For future readers (+ @ndao): this can be done without creating the higher-order component that @contra mentions, and using a Jest mock instead that provides default width/height:

[code]

Then in your tests:

[code]

@contra, would you be open to a PR that exports a helper function for some of this?

[2017-11-30 03:52] contra commented on #63
@jessepinho If you think it would help testing for most people then yeah, send it on down

[2017-12-09 23:23] AlexanderLukin opened #137 "Incorrect work for "print" media type and `window.print()`"
Hi @contra

I've discovered that `react-responsive` is working incorrectly with `print` media type when print window is called using `window.print()` function.

I've built a simplified example that shows this incorrect work.
Please, go to this page
https://codesandbox.io/s/j7p289y89v

Then try to open print window using "Ctrl + P" (or via browser "Print" menu item). Here you can see that everythin

[2017-12-10 02:27] contra commented on #137
@AlexanderLukin Can you see if this is reproducible using the matchMedia directly? https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia

[2017-12-10 12:17] AlexanderLukin commented on #137
@contra I tested it using direct `matchMedia` API.

Here is an example
https://codesandbox.io/s/lxlvnr72kq

When you try to print the page, "print" styles aren't applied completely.

I think I figured out for the reason. We need to force rerendering React component when it switches between "screen" and "print" modes.
The problem is that the API that allows doing so is different for different brows

[2017-12-10 16:37] contra commented on #137
@AlexanderLukin We use matchMedia events already to trigger renders, so I'm not sure what the issue is.

Can you check if the matchMedia event for print fires when you switch from print to non-print, then back again?

[2017-12-10 18:41] AlexanderLukin commented on #137
@contra I just tried to add a breakpoint to this line
https://github.com/contra/react-responsive/blob/191d9380d288b8de3dd6eeafd903db46b73d820a/src/index.js#L86
When I switch between print and non-print I see that this function is called multiple times in both cases. So yes, it seems the matchMedia event is fired correctly.

Could you please take a look at this example?
https://codesandbox.io/s/j7p

[2017-12-18 16:03] AlexanderLukin commented on #137
This also may be helpful
https://github.com/facebook/react/issues/11876

[2017-12-21 15:35] AshCoolman commented on #63
@jessepinho Really nice.

I'd consider setting size via a function `global.setInnerWidth(1280);`. This way you can add extra functionality if the need arises e.g. [emit an `onresize` event](https://gist.github.com/javierarques/d95948ac7e9ddc8097612866ecc63a4b) or something

[2018-01-09 14:44] bsurai opened #138 "Error in the Readme.md"
In Readme media queries look like:
"(min-device-width: 1224px)".

If I try to these media queries from Readme file it doesn't work.
But it works when I use query like that:
"(min-width: 1224px)".

Also original css media queries look like second one. Can you fix the Readme, please?

[2018-01-09 17:32] contra commented on #138
@bsurai What browser are you trying it in? `min-width` and `min-device-width` are very different, you might be using it incorrectly. `min-width` will be the minimum viewport width, but `min-device-width` will apply to the screen itself regardless of the viewport.

[2018-01-09 18:03] bsurai commented on #138
@contra I'm using Chrome Version 62.0.3202.75 (Official Build) (64-bit).
Perhaps you are right. I look at viewport. I think it is enough for me. Thank you.

[2018-01-09 18:06] #138 closed

[2018-01-11 09:46] paulcredmond opened #139 "Share a component between queries but load different component containers"
Say you have a form component called `<SignUpForm />` and you want it wrapped in different components for mobile and desktop - `<Mobile />` which provides a swiping experience and `<Desktop />` which is a normal form layout.

[code]

I thought I could use the load component feature to use these wrappers... the above does work in terms of loading the form in the right containers, but any field data

[2018-01-11 13:49] contra commented on #139
This is less of an issue with the library and more of a general question about state management in react, but I'll answer anyways.

You should make SignUpForm a dumb component that receives a `value` object via props, and exposes an `onChange` prop (function). That means you're moving the state up a level (to App) and you remove the state from the form itself, so you can re-render it.

Optionally

[2018-01-11 13:51] #139 closed

[2018-01-12 14:38] paulcredmond commented on #139
Thanks for the reply. Only the wrapper component is different, not the `<SignUpForm />` I used in the example above. I tried your example but the same thing happens... `<SignUpForm />` re-renders when changing breakpoint. How can I use keys to stop that happening?

[2018-02-09 15:51] jamesst20 opened #140 "react-responsive@4.0.3" has unmet peer dependency "prop-types@^15.0.0""
Hi,

Just wondering if something could be done to turn off this warning because my project currently uses

"prop-types": "^15.6.0"

and Yarn is giving me a warning
react-responsive@4.0.3" has unmet peer dependency "prop-types@^15.0.0"

Thanks

[2018-02-09 18:50] contra commented on #140
This is an annoying yarn thing AFAIK - I get this on almost every react dependency I have. Not sure there is any way to fix it on my end.

[2018-02-09 18:51] contra commented on #140
On second thought I can move prop-types from peer to deps, that might fix it.

[2018-02-09 22:24] jamesst20 commented on #140
Thank you, I have a project with around 50 dependencies, and react-responsive is the only one giving me a warning with the latest Yarn version :)

[2018-02-09 22:41] #140 closed

[2018-02-09 22:42] contra commented on #140
published as 4.0.4

[2018-02-12 14:10] jamesst20 commented on #140
It worked, thank you !

[2018-02-16 11:22] jessepinho commented on #63
One thing worth noting—I don't believe that setting `innerWidth` actually has an effect on tests unless you're using `render()`. For example:

[code]

In this example, both `wrapper.find('#foo').length` and `wrapper.find('#bar').length` will be equal to `1`, since `shallow` is simply shallow-rendering the component tree without actually running `MediaQuery`'s logic to determine whether to render i

[2018-02-22 17:33] SevenZark opened #141 "How to account for minWidth server-side?"
Thanks very much for this library! I have found it very useful and flexible in my project.

I'm now trying to implement server-side rendering in this project, but I'm having a little trouble understanding how to use the values property to establish a range of widths, since minWidth and maxWidth are not listed as properties it takes.

I'm afraid I don't quite get it from the example shown in the do

[2018-02-22 19:41] wzrdzl opened #142 "[SSR] call matchMedia in componentDidMount"
Currently, if you rendered a component on the server with a certain set of `values` and then the component is mount in the browser the `query` is not reevaluated against the actual environment which might lead to an incorrect result if your assumption about the user's environment during SSR was not right.

We can probably fix it by adding the following to the `MediaQuery` code:

[code]

Is it corr

[2018-02-22 19:55] contra commented on #142
in will mount: https://github.com/contra/react-responsive/blob/master/src/index.js#L35
which calls updateMatches: https://github.com/contra/react-responsive/blob/master/src/index.js#L66

AFAIK this already happens, your issue might be elsewhere?

[2018-02-22 19:56] contra commented on #142
Unless you're saying that will mount is being called on the server, and did mount is called on the client. I've never done SSR so not sure how that works.

[2018-02-22 20:05] wzrdzl commented on #142
You are right the problem is possibly elsewhere because as you mentioned it's called in `componentWillMount` which is executed both on the server and the client. I will try to dig deeper with this but looks like this issue can be closed, sorry for disturbing

[2018-02-22 20:05] #142 closed

[2018-02-26 13:29] johnunclesam opened #143 "Let's talk about performances..."
Let's say I'm using the below code. I'm a newbie and I wanna know how this example (which I got from the README page) impact my React SPA performances.

- Is it creating just one listener? Is this listener an impact problem on rendering performances?

- If I use code similar to this in many components it creates many listeners on my `document`?

- Is this code re-rendered every time the component

[2018-02-26 15:27] contra commented on #143
Each query has a listener - the listener is only created when the component is first rendered, or if you change the query (https://github.com/contra/react-responsive/blob/master/src/index.js#L64).

This library is a light wrapper around the browser matchMedia API, so most of your questions will probably be answered by reading up on that (I don't have the answers about how that API performs). I'd a

[2018-02-26 15:32] contra commented on #136
Closing, didn't receive a response.

[2018-02-26 15:32] #136 closed

[2018-02-26 15:32] contra commented on #137
Still having this issue? Lost this ticket over the holidays and forgot to loop back on it.

[2018-02-26 15:35] contra commented on #141
The `values` object is basically a shim for what the browser would report as its properties, so `deviceWidth` would define what the browser device width attribute is, so `minDeviceWidth` / `maxDeviceWidth` in queries would be based on that value.

[2018-02-26 15:43] SevenZark commented on #141
Thanks for your response. I didn't realize min and max weren't available from the user agent, since css media queries can work server-side. So anyway, it sounds like you're saying that width and deviceWidth, in the values object, function as absolute widths?

[2018-02-26 16:28] r3wt commented on #143
I had the same question, but see its already been answered.

[2018-02-26 17:14] contra commented on #141
@SevenZark CSS media queries can't work server side because the browser dimensions don't exist there - it isn't possible. If I have the browser resized to 25% of my screen and I send a request to your server there is 0 ability to determine my browser width, pixel ratio, device width, etc. from the request.

The `values` object is used to make a guess for the initial render, or for testing - nothin

[2018-02-26 17:14] #141 closed

[2018-02-26 20:51] SevenZark commented on #141
Gotcha, and thanks again. I do understand the basics of media queries, but just didn't think through the implications of why they * seem * to work when served up in css, with no javascript enabled on the client. I failed to realize what should have been obvious - like, js, css is being interpreted client-side only. And, as you point out, that's not available in a server-side template render.

[2018-02-27 10:40] johnunclesam commented on #143
Ok, @contra. Thanks for your answer.

But, let's say I have many `Responsive`: `import Responsive from 'react-responsive';` on one page, then I have many listeners on `document` (one for each `Responsive`).

And ok! Now...

My page is loaded in browser. I never change dimensions, never resize, never change `minWidth` and `maxWidth` values during my navigation.

Is `react-responsive` affecting my c

[2018-02-27 16:02] contra commented on #143
@johnunclesam No, given a static situation like that there is 0 perf hit. The listeners for changes exist but if they never fire then it won't re-render anything. Even if you are resizing, a re-render only occurs when a specific query state is changed from true to false.

The way this module works is on top of the browser matchMedia API - you can define a CSS media query and get an event when it g

[2018-02-27 22:25] minardimedia commented on #143
What happens if I trigger a call to fetch data when a component renders. With this approach everyone someone resize its browser this fetch is going to be trigger this can be an issue ?

[2018-02-27 23:34] contra commented on #143
@minardimedia You should never fetch something in a render function. Use componentWillMount or another lifecycle function. Re-rendering the same component will only call `render()` again.

[2018-02-28 13:36] johnunclesam opened #144 "Use it for variable composition function."
I saw this: https://github.com/contra/react-responsive/pull/64

but I think we miss something like this:

[code]
**Is there a way?**

I tried with https://github.com/contra/react-responsive#rendering-with-a-child-function but it forces me to use `if` `else` and repeat the code.

[2018-02-28 14:09] AlexanderLukin commented on #137
Yes, the issue is still here.

I got rid of the `react-responsive` package in my project, but I successfully used `matchMedia` API directly with the approach suggested by Dan Abramov
facebook/react#11876

I don't interested in fixing this issue myself because I don't currently use this package in any of my projects but can answer any questions if they appear.

[2018-02-28 17:01] lunaleaps opened #145 "Missing null check"
When I attempt to render something like this:

[code]

I get the following error:
[code]

and I believe it's because there is a missing null / general truthiness check for `props.children` here: https://github.com/contra/react-responsive/blob/master/src/index.js#L112

[2018-02-28 17:14] contra commented on #145
Yeah seems pretty straightforward, `this.props.children === undefined` should be `this.props.children == null`. Do you have time to send a quick PR with a test? Otherwise I can look into it next week.

[2018-02-28 17:16] contra commented on #144
Not quite sure what you're trying to achieve - if you want to get the match value in a render function you would wrap that component in react-responsive. You can also use the onChange handler to store the value of `matches` in the component state, and use that to control the class (or anything else).

[2018-02-28 17:45] johnunclesam commented on #144
Maybe some example more in Docs is great.

[2018-02-28 18:45] lunaleaps commented on #145
I think it should be both an `undefined` and `null` check because it should support `<MediaQuery />` as well. I'm leaning towards a general truthy check. I can put out a PR

[2018-02-28 20:41] contra commented on #145
@lunaleaps `== null` will return true for both undefined and null.

[2018-02-28 20:47] contra commented on #144
Not something we can really document, nesting components is a react thing. This is what you should do:

[code]

And YourComponent has a render() like this:

[code]

If that doesn't work for your case then you should use the matchMedia API directly. If you need any more help you should check https://stackoverflow.com/

Closing since this is a request for general help, not a bug.

[2018-02-28 20:47] #144 closed

[2018-03-07 16:19] #145 closed

[2018-03-12 14:31] tlvenn commented on #142
I have the same issue so there is definitely something going on with SSR.

What i have observed is that the bug persist even when I am resizing the window. However, as soon as i reach the breakpoint, things re render properly.

[2018-03-12 14:35] wzrdzl commented on #142
@tlvenn my issue was related to the React 16 SSR behaviour, you can find more details here: https://github.com/facebook/react/issues/10591#issuecomment-326635627

I believe you hit the same one

[2018-03-20 18:47] r3wt opened #147 "doesn't rerender on prop change"
[code]
tried everything i could think of to get it to rerender but no dice. each of the render* methods has a console log statement in it. it renders once, but doesn't update when the props change, unless local state changes first.

[2018-03-20 19:32] contra commented on #147
Hmm, that's an interesting case I haven't seen before. Are the props changing? We have no special `shouldComponentUpdate` so it should be using the default react behavior which is to re-render when the props change.

[2018-03-23 17:47] r3wt commented on #147
I'm at my wits end trying to figure out why this is happening.

[2018-03-23 22:09] contra commented on #147
@r3wt That only dictates when the `onChange` prop is called, nothing to do with rendering.

[2018-03-24 21:47] MarkPare opened #148 "MediaQuery doesn't work if browser not in "responsive" mode."
It seems that MediaQuery doesn't work in chrome and firefox unless browser is in "responsive" mode, i.e. you open developer tools and put it in responsive mode.  This means that MediaQuery does not work if user resizes their browser while not in "responsive" mode.

Is this intended behavior or am I missing something?

Thanks a lot for the great library.

[2018-03-26 05:13] contra commented on #148
Can you paste the code? Make sure you're not using device width attributes as those are static and based on your screen size - that sounds like your problem.

[2018-03-26 05:35] MarkPare commented on #148
That was it.  Changed to use `minWidth` and `maxWidth` instead of `minDeviceWidth` and `maxDeviceWidth`.  Thanks a lot for your help and the library!

[2018-03-26 15:34] #148 closed

[2018-03-26 15:35] contra commented on #143
Closing since this has been resolved.

[2018-03-26 15:35] #143 closed

[2018-03-26 15:36] contra commented on #148
@MarkPare Yeah, our documentation is assuming people are familiar with CSS media queries - we could make them a little easier for beginners. If you ever have a spare minute and want to add more docs that would be helpful.

[2018-03-26 16:36] r3wt commented on #147
@contra seems the culprit is mobx. react can't detect the change in the boxed value. but somehow, by console.log() the value in my render function, it works now. i'm assuming this is touching the value and causing mobx to rerender the component until the result matches the dom.

[2018-03-26 16:37] #147 closed

[2018-03-30 18:01] DZhuribeda opened #150 "React StrictMode support"
Hi

Thanks for amazing lib.

After React 16.3 release, It will be cool to use `React.StrictMode` to detect issues with React lifecycle etc. But `react-responsive` use `componentWillMount` and `componentWillReceiveProps` which will be deprecated and raise exception.

Do you plan fix that? I can take that and provide PR, if it willbe ok.

[2018-03-30 18:21] contra commented on #150
@DZhuribeda Yep - once more comes out and it matures a little more we will update. It shouldn't be a huge change - react-responsive is pretty simple and it should map easily to the new lifecycle functions. If you want to send a PR that would be great - I'll never turn down free help.

[2018-03-30 18:36] DZhuribeda commented on #150
@contra okay, I will send PR asap

[2018-04-08 01:59] MarkPare opened #152 "Using react-responsive for logic outside of render function"
I don't think the library explicitly supports this, but if you have any suggestions on how to accomplish, I would appreciate it a ton...

Before `return` part of `render()` method, I would like to use device size to determine how much of a string should display.  Something like:

[code]

Seems like the component would have to listen on window size and re-render when it changes, much like what happ

[2018-04-10 21:54] patrick-mcdougle opened #153 "Use the context API [RFC]"
This issue is to house brainstorming for how we might be able to use the React Context API (16.3) to make this even easier to use or add new features. Thoughts?

[2018-04-10 21:57] contra commented on #153
Using the context API we could do some interesting things like detect conflicting media queries in development mode to print helpful warnings. We get a lot of tickets that are for this problem - CSS queries can be confusing, so we can do some nice things to make the DX better. Nesting a `minWidth: 100` inside a `maxWidth: 50` would print an error since that is an unreachable block, essentially.

[2018-04-12 01:58] StevePotter opened #154 "Callback property for 'matches' changing"
Hi, I have a situation where I need to dispatch a Redux action if a breakpoint is matched/unmatched from user resizing browser.  I would love to be able to do something like:

`<MediaQuery minWidth=500 onMatchChanged={(match) => match ? this.onMatched() : this.onUnmatched()}>...`

Is this something you would accept into your project?  I'd be happy to make the PR

[2018-04-12 04:11] contra commented on #154
onChange / onBeforeChange are both available to solve this. We don't have any docs for them, if you want to help out with that it would be much appreciated!

https://github.com/contra/react-responsive/blob/master/src/index.js#L13-L14

[2018-04-12 04:11] #154 closed

[2018-04-28 18:29] ibc opened #156 "Use React.Fragment when more than one child"
This avoids the extra div element.

[2018-04-30 23:36] chilblane commented on #142
@wzrdzl @tlvenn Were you able to implement a work-around to get the call to run? I would very much like to avoid having to add a bunch of media query code to my CSS.

[2018-05-01 07:06] wzrdzl commented on #142
@chilblane I ended up implementing my own `Media` component that does matching in `componentDidMount`, it's not ideal, because the initial render might be using incorrect `matches` result but it works around this issue:
[code]

[2018-05-01 16:42] chilblane commented on #142
@wzrdzl Thanks. I'll try this out.

[2018-05-17 01:17] TSMMark commented on #152
You can use MediaQuery as a HOC and wrap your inner component

[code]

[2018-05-17 01:18] TSMMark commented on #156
Came here to open this issue.

Help wanted?

[2018-05-17 02:28] contra commented on #156
Yep - will take a PR for this. I think this will be a large breaking change since many rely on that div in stylesheets, so will need to come out as a major release.

[2018-05-17 03:01] TSMMark commented on #156
To restate the problem so we're all on the same page

This JSX

[code]

And this JSX

[code]

Should output this HTML

[code]

Instead of this HTML

[code]

Is that an accurate and complete description?

[2018-05-17 14:02] contra commented on #156
@TSMMark Yep

[2018-05-17 14:16] TSMMark commented on #156
@contra Wait so if we're already doing it what needs to be changed?

Is it simply this line https://github.com/contra/react-responsive/blob/master/src/index.js#L115

from

[code]

to

[code]

?

[2018-05-17 15:08] contra commented on #156
@TSMMark Assuming that returning an array functions the same as returning a fragment I don't think anything needs to be done. The container element is only used if you request it via the `component` prop, or if you pass some other attribute (like className) to MediaQuery.

[2018-05-17 17:47] TSMMark commented on #156
I'm confused... So this issue is resolved and should be closed?

I'm not sure if it's a notable difference in this context, but each element in the array requires a unique key prop, while this is not the case with Fragment.

[2018-05-17 18:00] contra commented on #156
@TSMMark Theoretically yes - I'm not sure if returning `children` is the same as returning `Fragment` so the issue will stay open until that is determined, there is still the possibility something needs to be changed. There isn't anything confusing about it - I'm not sure if we currently solve this right, so the issue stays open.

[2018-05-17 18:00] #156 closed

[2018-05-31 03:10] muukii commented on #142
@contra
Hi, I have same this issue.
Do you have a solution best-way?

[2018-06-01 20:54] coreyward commented on #142
+1 Running into this issue as well using Gatsby w/ React Responsive.

[2018-06-01 20:56] ashleyryan opened #157 "Using Values property on client"
I'm successfully using the values property with a width to render the appropriate component during server-side rendering based on what I've determined to be the device type.

For a number of reasons, I also need to A/B test the responsiveness, so I need to force the desktop version to render in the control experience. I was hoping I could use the values property to override the page width on the c

[2018-06-01 21:38] #157 closed

[2018-06-01 22:05] coreyward commented on #142
My gross hack temporary fix, should anybody else be needing to ship something:

[code]

I'm using the `values` prop to have the desktop variant rendered by default, which with my media query, results in `matches` being `true`. If your media query is `false` by default, you'll want to invert the logic in `forceRecalculation`.

Also, I noticed that this doesn't work if you do it immediately when `co

[2018-06-03 23:51] contra commented on #142
It seems that every person responding to this ticket is posting about things that are completely unrelated to the original post. If you have a bug you want to report please open a new ticket for it.

[2018-06-03 23:53] contra commented on #157
@ashleyryan Closed, I'm assuming you solved it?

[2018-06-04 13:10] rajeshscontact opened #158 "Rendering issues with iPhone X when switching from portrait to landscape"
the component tries to re-render children when switching orientation and losing context of children.

[2018-06-04 13:54] contra commented on #158
Could you post an example to reproduce it on jsfiddle or codepen or something similar?

[2018-06-04 19:10] ashleyryan commented on #157
Yes, I found a workaround that involved using media queries like (max-width: 0px) for mobile and (min-width: 0px) for desktop in the control experience.

I never actually found out if values has any use on the client, but I didn't end up needing it.

[2018-06-04 20:15] contra commented on #157
@ashleyryan To answer the original question - the `values` prop works on the server and on the client in the same way. Here's the code for that: https://github.com/contra/react-responsive/blob/master/src/index.js#L54-L64

[2018-06-05 23:54] juanapu opened #159 "PC version is not responsive"
I am using react-responsive@4.1.0. When i resize my pc browser to narrow than 1224px, it was not working at all. But it does work when i change device to tablet or mobile.

        <MediaQuery query='(max-device-width: 1224px)' maxDeviceWidth={1224}>
           it is small screen
        </MediaQuery>
        <MediaQuery query='(min-device-width: 1224px)' minDeviceWidth={1224}>
           it is bi

[2018-06-11 08:18] dmansof opened #160 "React responsive orientation"
I'm using react-responsive in react project.

Problem:
Orientation prop is always null, so the app is not displayed well.

Question:
I would want to know how to trigger some event that checks and set orientation to react responsive prop or any solution. I think that there's a problem calculating the initial resolution.

More:
I can set initialMediaType parameter to small instead of default in orde

[2018-06-11 23:36] contra commented on #160
Can you provide a jsfiddle that reproduces your problem? Not understanding what the issue is - it sounds like your code, not anything to do with react-responsive.

[2018-06-28 09:15] michalpleszczynski opened #161 "[SSR] Values are ignored when window is present"
For SSR it might be needed to detect the initial client load and make sure it's going to render the same thing as on the server (see relevant discussion [here](https://github.com/facebook/react/issues/10591))

This is problematic with MediaQuery component, because even if values props is specified it is ignored if window is defined, instead window.matchMedia is always used. As far as I know curren

[2018-06-28 17:16] contra commented on #161
`values` should always take precedence, looking at the code this seems to be the assumption I made: https://github.com/contra/react-responsive/blob/master/src/index.js#L54-L64

But matchmediaquery doesn't operate that way, so I think the best course of action would be to send your changes as PRs and we can merge it in. This would explain another issue where in phantom tests they weren't able to fo

[2018-06-28 17:18] contra commented on #161
Nice find, btw - not sure how that slipped through. Tests would be great for this if you have time to include some in your PR.

[2018-07-02 09:15] michalpleszczynski commented on #161
@contra I've created a PR for [matchmediaquery](https://github.com/ncochard/matchmediaquery/pull/2), not sure if this repo is actively developed though. Let's see if it goes through and then I'll make a PR with tests here

[2018-07-09 12:42] pho3nixf1re opened #162 "[SSR] Rehydrating app contains the wrong classnames."
I use the match render prop callback to set a prop which itself toggles a className. This renders fine on the server but on first load the client does not re-render to correctly display the className. I have even tried to for a state update using `setState` in an `onChange` callback provided to `react-responsive`. For some reason the `matches` values is correct when I examine the react tree but th

[2018-07-09 14:47] contra commented on #152
You can use onChange + setState to do this however you want. Using dynamic variables in `render()` is an anti-pattern in react and yields unexpected results.

The example @TSMMark posted is also another avenue.

[2018-07-09 14:47] #152 closed

[2018-07-09 14:47] contra commented on #160
Closing, no response.

[2018-07-09 14:47] #160 closed

[2018-07-09 14:48] contra commented on #158
Closing, no response.

[2018-07-09 14:48] #158 closed

[2018-07-09 14:53] contra commented on #162
Sounds like this: https://github.com/facebook/react/issues/10591

[2018-07-09 14:54] contra commented on #162
[code]

[2018-07-09 14:56] contra commented on #162
This seems like a really common issue for people who use SSR so we might be able to incorporate a fix into react-responsive so people can quit the guessing stuff in the server-side.

Maybe if an `ssr` prop is present, we can do the double-render on the client even though this can cause substantial performance issues.

[2018-07-09 15:00] pho3nixf1re commented on #162
I think providing a prop would be nice. There are times when it will be fine but this is an exception and the correct solution comes with complexity. The component in question here is way at the bottom of the page and will have a small amount of data on first load. Allowing opt-out with a clear documented warning is a great way to fix this simply and locally to the use case.

I'm also trying the r

[2018-07-09 15:01] pho3nixf1re commented on #162
If you are open to the `ssr` flag then I'd be happy to try and implement it.

[2018-07-09 16:29] contra commented on #162
@pho3nixf1re Even simpler would be if there was a lifecycle hook that got called on client render, and if `ssr` prop is present then run `this.updateQuery(this.props)`

Open to a PR - docs will need to be pretty good on it to not confuse people. This SSR stuff is always messy to document and test.

[2018-07-12 09:39] michalpleszczynski commented on #161
Ok, my PR to [matchmediaquery](https://github.com/ncochard/matchmediaquery/pull/2) was merged. I've tried adding some meaningful tests here, but they would have to use the sinon stub and I'm not sure it's working as expected. @contra Could you look at [index_test.js](https://github.com/contra/react-responsive/blob/master/test/index_test.js) - after removing before and after (stub setup), all tests

[2018-07-12 18:06] contra commented on #161
@michalpleszczynski Can you link me to the tests? Should be good to send the PR now and we can iterate on it there.

[2018-07-13 07:44] michalpleszczynski commented on #161
@contra [here](https://github.com/contra/react-responsive/pull/163) you go. I've added 3 tests, one is skipped right now, see TODO note

[2018-07-13 20:34] MarkPare commented on #152
I went with @TSMMark's solution to great effect!  Thanks again for the help and the awesome library!

[2018-07-24 16:36] joetidee opened #164 "Change default wrapper to Fragment."
I noticed in the documentation that if the `component` prop is not present on the `<MediaQuery>` component, that the children will be wrapped in a `<div>` tag. Now that React 16 has introduced `<Fragment>` to prevent unnecessary markup being added to the page, should this package take the same stance and make this the default wrapper?

[2018-07-24 19:09] contra commented on #164
Duplicate of https://github.com/contra/react-responsive/issues/156 (but in short, we already do use fragments by returning arrays)

If I'm mistaken feel free to comment back and I'll reopen. Also, if you want to send a PR to help update the docs to be clearer that would be appreciated.

[2018-07-24 19:09] #164 closed

[2018-07-24 22:47] joetidee commented on #164
The documentation says:

This is not wrapping it in a Fragment. I do not want the children wrapped in a `<div>`.

[2018-07-25 14:31] dassennato commented on #162
I'm facing the same issue.
It turns out if we have things like this:

[code]
and if the client does not match with the server it ends up rendering at the DOM level this:
[code]

I tried the redux solution and to force a rerender on the client side, neither of two approaches worked.
Looking at https://github.com/facebook/react/issues/10591 I realized that the issue only occurs when the main childre

[2018-07-25 16:15] contra commented on #164
@joetidee I'm telling you that the documentation is incorrect, we changed this and it was never updated - if you look at the code you can clearly see that it returns `this.props.children` unless certain conditions are met (additional props given, component prop used, or no children present) https://github.com/contra/react-responsive/blob/master/src/index.js#L113-L131.

If you want to help out you

[2018-07-25 18:51] joetidee commented on #164
This is a typical developer response - code now, document if you get time. Totally unprofessional.

[2018-07-25 19:46] joetidee opened #165 "Documentation not updated"
Noticed that the documentation says:

`If the component property is not defined and the MediaQuery has more than 1 child, a div will be used as the "wrapper" component by default.`

As per a separate conversation that was locked after a very defensive response, this does not marry-up with the actual functionality. Appreciate that this is a collaborative exercise, but can we get a pledge from the c

[2018-07-25 20:15] #165 closed

[2018-07-28 07:39] Koshukey opened #166 "Can I do like <MediaQuery query="(min-width:768px, max-width:1023px)">?"
I want to mediaquery which is  <MediaQuery query="(min-width:768px, max-width:1023px)">
But ir does not work.
How can I arrange this to work fine?

[2018-07-28 15:33] contra commented on #166
That query works fine - this seems like more of an issue with your code, which should be asked on https://stackoverflow.com/

[2018-07-28 15:33] #166 closed

[2018-07-28 18:59] oyeanuj commented on #161
@michalpleszczynski @contra Wouldn't this be the problem since the `values` in the previous versions was a placeholder to render a default state, and with this change, it will render that even if the actual sizes on the client is different?

I feel like overriding prop, and a default prop are two different concepts that are being merged here?

[2018-08-07 15:20] fabiowallner commented on #162
I resolved it like this:
[code]

Instead of not rendering the component server side at all you could render the mobile component for instance.

I hope it helps someone.

[2018-08-08 16:45] joetidee opened #167 "Upgrade to use React 16.3"
Any plans to make this compatible with the new lifecycle components in React v16.3 ?

[2018-08-08 16:45] joetidee commented on #153
Here's a starter for 10:
https://github.com/ehellman/react-breakpoints

[2018-08-15 14:09] ItsTehStory opened #169 "Confusion when the window is about the same width and height"
So in my project I do MediaQueries to get if the device is in portrait mode or landscape. But there's a certain way on Desktop to be in neither of those states. I'm using a 1080p monitor and when I take only half the screen, both portait and landscape mediaqueries fail. It's amusing for me since it's probably never going to happen on the final product since it's on mobile devices, but nonetheless

[2018-08-15 17:41] ItsTehStory commented on #169
That might be why on desktop it has weird behaviour. Anyway cool package you got there and have a beautiful day my good sir.

[2018-08-15 17:41] #169 closed

[2018-08-17 11:34] Jole83 opened #170 "How to test responsive"
How can I test in Jest if some component is rendered if it maches some width?

[2018-08-17 15:04] contra commented on #170
You can provide a `values` object to simulate any possible situation you want https://github.com/contra/react-responsive#server-rendering

[2018-08-17 15:04] #170 closed

[2018-08-28 20:55] salientknight opened #171 "Does reload external CSS"
I've tried several permutations of the syntax and they work the same way for me. The code base changes but the CSS is not updated.  One of my conditions uses panels, and the other condition uses tabs -- the switch between these two work moving from small view to large, but not from large to small and the CSS for each view is not refreshed between changes. I load the browser with a screen of 400px

[2018-08-28 22:19] contra commented on #171
I'm not sure what your issue is exactly - but just to clarify, all react-responsive does is conditionally render its children based on the media query being matched or not. It doesn't do anything with CSS or conditional loading, which sounds like your issue.

Closing since the issue isn't with this library. If you're using webpack make sure your component (Header, or Mobile) are including the CSS

[2018-08-28 22:19] #171 closed

[2018-08-29 15:04] contra commented on #171
@salientknight Yep - that's exactly what the component does. Restating what I said above, this module doesn't do anything with CSS. If your issues is with CSS not being applied, then it is unrelated to this component.

If you've checked your code 100% and you are completely positive somehow the issue lies in react-responsive, can you make a jsfiddle or codepen that reproduces the issue? The code y

[2018-08-29 18:25] salientknight commented on #171
The CSS issue is getting in the way of what I am trying to communicate.  The best description of what I am experiencing is that it only seems to be testing the condition on page load and not on resize when scaling down -- and when scaling up, the test doesn't trigger the corresponding test in the DOM -- which I believe is the issue with the CSS not being applied  -- the net effect is that the page

[2018-08-29 21:54] contra commented on #171
@salientknight Can you repro on codepen or jsfiddle? What browser are you on?

[2018-09-04 09:49] TryingToImprove opened #172 "setState called on unmounted component"
I gotten a error where `MediaQuery` are trying to call `setState` on a unmounted component.

![image](https://user-images.githubusercontent.com/1690457/45024097-83299e00-b038-11e8-9cc3-5adb024f1f9a.png)

[2018-09-28 11:58] barrylachapelle commented on #81
Yup rain into this too. Putting Navbar into <MediaQuery> kills the navbar animation :(

[2018-09-28 14:22] barrylachapelle opened #173 "CSS animations"
Hi there. Has anyone else reported that animations aren't playing out propely when contained in react-responsive?

I commented on issue 81 (https://github.com/contra/react-responsive/issues/81) about bootstrap Navbar animation not working but it seems ALL my css animations aren't working. They should the start and end state but not the frames in between.

Maybe I am missing something?

[2018-10-03 14:13] agriffis opened #174 "incorrect peer dependency "react@^16.0.0""
I'm working on a project that's currently on react 15.5.4, and we're adding react-responsive.

Yarn complains:
[code]

Is this something I need to worry about?

[2018-10-03 15:36] contra commented on #174
Just checked the code - it should be fine on react 15, you might see some warnings in the console but it will still work. You should upgrade to react 16 though, react 15 had weird behavior for fragments which react-responsive uses heavily.

[2018-10-03 15:36] #174 closed

[2018-10-03 18:00] agriffis commented on #174
@contra Thanks for checking. I'll heed your suggestion and upgrade to react 16 soon.

[2018-10-10 12:59] whatknight opened #177 "`npm start` is broken with Babel 7"
I rebased my PR off of master and there's a runtime error. Not sure what the root cause is though.

<img width="554" alt="screen shot 2018-10-10 at 8 56 17 am" src="https://user-images.githubusercontent.com/1613523/46737829-897bed00-cc6a-11e8-89e6-858a6d258ff4.png">

[2018-10-10 15:20] contra commented on #177
Fixed on master - thanks for the ticket

[2018-10-10 15:20] #177 closed

[2018-10-11 01:22] eightypop opened #178 "API Change: Use React.Fragment"
Simplify render method by simply returning the `children` wrapped in a Fragment.

This would be a breaking change since extra divs/wrapping components would no longer be rendered and props passed on. It might be a good time to make this change since https://github.com/contra/react-responsive/pull/176 would also be a breaking change.

[2018-10-11 15:41] contra commented on #178
@whatknight This already happens - unless you specify any extra props (like `style` on a MediaQuery component), or `component` (indicating you want a wrapper) it will just return `this.props.children` straight up.

[2018-10-24 06:02] albertstill commented on #162
`react-responsive` will need to change it's code so the first render pass on the client matches the server, which uses the `values` prop, regardless of the clients actual dimensions. Then the client code can check to see if the server render was different to the browsers actual dimensions. Then re-render if so. We did the same thing over [here](https://github.com/DomainGroupOSS/react-media-query-h

[2018-10-24 11:51] hoschi commented on #172
@contra I have the same issue as OP and tried your test. With the inserted code no error get logged.

[2018-10-24 12:16] hoschi commented on #172
And I get the error only on Safari (Mac) and not Chrome (Linux).

[2018-10-24 16:16] contra commented on #162
If somebody has some time and wants to help out - can you test and see if https://github.com/contra/react-responsive/pull/176 fixes any of these issues?

[2018-10-24 18:31] TryingToImprove commented on #178
Looking at the source code, I am with @whatknight

https://github.com/contra/react-responsive/blob/master/src/index.js#L117

If the components return more than 1 component it looks like it will wrap this either `this.props.component´ or `div`.

You might be able to say `component={React.Fragment}`, but I am not sure if it will work

[2018-10-24 19:03] contra commented on #178
@TryingToImprove This is in progress here btw - https://github.com/contra/react-responsive/pull/176

[2018-10-24 19:05] contra commented on #178
@TryingToImprove Can you do a codepen or jsfiddle or something that shows it rendering a container? The way the code is written would not render a container in your case:

This is the logic for controlling it:

[code]

- If one was specified via `component`
- If `children` is null (we should change this I think, I would just expect it to no-op)
- If it has additional non-MQ props, and children is

[2018-10-24 21:21] TryingToImprove commented on #178
You are right, sorry; https://codesandbox.io/s/8x52q10309

[2018-10-24 21:24] #178 closed, assigned to nobody

[2018-10-25 05:50] hoschi commented on #172
@TryingToImprove I try to find the root cause to create a sandbox, but not digged through yet. Did you by chance remember if your problem was only on Safari?

[2018-10-25 07:37] TryingToImprove commented on #172
@hoschi Only have a windows PC, so it was in Chrome, but again have only seen it once or twice and not lately

[2018-10-25 18:42] contra commented on #172
@hoschi Do you get the same behavior when using react-responsive from this PR? https://github.com/contra/react-responsive/pull/176

[2018-10-27 18:05] rockmandash opened #180 "[Feature Request] React hooks support."
react-responsive is the **_best repo_** to start supporting react hooks.

[2018-10-27 18:13] eyal0803 opened #181 "Use React.Fragment instead of div as a default wrapper"
I'm using `react-responsive` together with [`react-responsive-redux`](https://github.com/modosc/react-responsive-redux) and noticed that single elements get wrapped by a `<div>`.

I'm not entirely sure what's going on there but I still think we shouldn't force using a `<div>`.

I could come around this by creating my own wrappers/aliases to those from `react-responsive-redux` but this seems totall

[2018-10-28 15:45] contra commented on #180
@rockmandash Want to get the ball rolling and mock up what you think an ideal API looks like?

[2018-10-28 15:46] contra commented on #181
Duplicate of https://github.com/contra/react-responsive/issues/178

We don't use wrapper divs except for two cases where you have to explicitly ask for one, basically. See above for the logic - but the code in your ticket would not use a wrapper div.

[2018-10-28 15:46] #181 closed

[2018-10-28 15:52] contra commented on #167
Yep - being done in #176

[2018-10-28 15:52] #167 closed

[2018-10-28 15:52] contra commented on #150
Will be done with #176

[2018-10-28 15:52] #150 closed

[2018-10-28 15:53] contra commented on #173
Closing, no response.

[2018-10-28 15:53] #173 closed

[2018-10-28 16:08] contra commented on #172
Should be fixed in 6.0.0

[2018-10-28 16:08] #172 closed

[2018-10-28 16:08] contra commented on #162
Just pushed a new major release (6.0.0) - can you test if it solves the issue?

[2018-10-28 16:08] contra commented on #137
Just pushed a new major release (6.0.0) - can you test if it solves the issue?

[2018-10-28 16:08] #137 closed

[2018-10-29 04:18] rockmandash commented on #180
I don't know, maybe like this?
[code]

[2018-10-29 20:05] joelgetaction opened #182 "Avoid clashes when used in antd"
If you look at https://github.com/ant-design/ant-design/issues/8590 , it appears like react-responsive and antd clash with a common name.  I'd like to use react-responsive, any idea if there's an easy fix for this?  :-)

Thanks!

[2018-10-29 20:33] contra commented on #182
This is an issue with antd - they muck up the global `window` object, here is their code:

[code]

Unfortunately we can't do anything about it - you should ask them to not do this, it is frowned on to patch `window`. The polyfill we use doesn't write to the `window` object.

[2018-10-29 20:33] #182 closed

[2018-10-29 23:07] joelgetaction commented on #182
Thanks @contra

[2018-10-30 17:53] kettanaito opened #183 "Environment-specific build"
## What

Building a project with `react-responsive` included like follows:

[code]

and providing an environmental flag `NODE_ENV=production`, still bundles a *development* version of the library.

## Why

Probably, there is no environment check at the point of library import.

## Expected behavior

When the library is bundled with the `NODE_ENV=production` include the `react-responsive/dist/react

[2018-10-30 17:56] kettanaito commented on #180
Is there a substantial benefit of splitting the media query assertions against asserting a single media query?

[code]

[2018-10-30 18:31] contra commented on #180
@kettanaito Slight tweak on yours:

[code]

Requiring from `/hook` so we don't include any component code - just a simple hook function.

This API looks good to me, don't see any reason why we wouldn't implement it.

[2018-10-30 21:18] contra commented on #183
@kettanaito You need to use a minifier in your webpack config - it isn't the responsibility/place for modules to export minified code. Will simplify to two points:

1. If modules export minified code it will mess up people's ability to use their own minifier/minification preferences.
2. Just because NODE_ENV is production doesn't explicitly mean people would like minified code - this library is us

[2018-11-01 16:00] hoschi commented on #172
@contra I got again access to a Mac and can confirm that 6.0.0 fixes the problem. Thanks! :100:

[2018-11-01 20:39] TryingToImprove commented on #180
Given that the current API wants the css-query I would prefer `const matches = useMediaQuery("same as before")`

But then again, I would be able to just perform that query in render directly on window.

I am not sure if hooks will provide any benefits.

[2018-11-01 21:08] kettanaito commented on #180
@contra Be cautious that hooks are but a proposal. Things may change, which may result into major releases of `react-responsive` to cover those changes.

[2018-11-01 22:16] contra commented on #180
@kettanaito I'll most likely wait for things to solidify more before any implementation, but fully plan on doing it once it is actually stable.

[2018-11-01 22:17] contra commented on #180
@TryingToImprove It would support both formats (object and string) like the component

[2018-11-06 16:23] sepuckett86 opened #185 "DevTools failed to parse SourceMap error"
I keep getting this console error in Google Chrome:
`DevTools failed to parse SourceMap: http://localhost:8000/js/react-responsive.js.map`

In `dist/react-responsive.js.map` there is no code. Does that explain this error?

I am using a Laravel backend.

[2018-11-06 18:39] contra commented on #185
@sepuckett86 Are you using the latest published release? I see code in both map files.

[2018-11-06 22:18] sepuckett86 commented on #185
Thanks for the response. I do see the code now --  I'm not sure why I saw an empty line before.

I updated to the latest version and still got the error, so I created a react-responsive.js.map file using your `dist/react-responsive.js.map` file in my `js` folder. This removed the error. I'm not sure if this is a Laravel Mix issue, or an issue with my code, although my other installed packages do n

[2018-11-06 22:18] #185 closed

[2018-11-06 22:34] contra commented on #185
@sepuckett86 Ah, if you're copying the files over directly you'll want to take the whole `dist` folder. Not quite sure how laravel works, but you can use `gulp` to help with bundling sourcemaps.

[2018-11-14 04:59] jannisg commented on #139
Sorry for the reply to an old, closed, issue but I have been banging my head against this same issue too and after hours trying to figure this out cannot seem to implement either of your suggested options @contra.

I've tried:
- Explicit `key=""`
- Ternary (with and without `key=""`)

A super simplified test case is available here inside the `LayoutManager.jsx` file: https://codesandbox.io/s/oq487

[2018-11-14 13:15] darkowic commented on #162
@albertstill this is exactly what we did in our project
[code]
Note: the `hasMounted` comes from our HOC

On the server side we detect the device that send the request and we assume some `DEFAULT_SIZE` that we later add to the document for client. On client side we wait with first update to avoid react hydrating warning that content is different than server-side rendered and then we update the med

[2018-11-14 15:49] contra commented on #139
@jannisg What's the bug? I resize the viewport and the header shows up/disappears as intended in the code.

[2018-11-15 02:06] jannisg commented on #139
@contra Thanks for even looking at this :)

The issue is that the contained form (the child being passed into the `<MediaQuery>` is unmounting/mounting as I resize and hit the breakpoints which cause the form values (if you enter one, then resize) to be lost.

I cannot figure out how to make the instance of `<MyForm />` in the `index.js` "persist" when wrapped with the `MediaQuery` which causes th

[2018-11-15 17:13] contra commented on #139
@jannisg I think your issue is that react is seeing the component at different depths in the virtual DOM and treating it as a fresh component. I'm not sure if there's anything you can do to fix that since it's react core behavior, and it seems like a fine design choice on their part. It's going to seem pretty bootleg but you could always `display: isMatch ? undefined : 'none'` on the nav + asides.

[2018-11-15 20:04] jannisg commented on #139
Many thanks @contra, really enjoyed reading those links on the topic. ❤️

[2018-11-18 18:41] AlexeyBee opened #186 "Am I using the react-responsive correctly?"
I created such a decorator:
[code]
Is this normal use?

[2018-11-18 19:07] contra commented on #186
Eh it seems like you're nesting too much, you should be able to just do it as a single level.

[code]

Your breakpoints don't have any conflicts so more than one will never be activated at the same time.

[2018-11-18 19:07] #186 closed

[2018-11-20 15:46] paulcredmond commented on #139
@jannisg I went with a different library that loaded views based on devices, this suited me more.

https://www.npmjs.com/package/react-device-detect

[2018-11-26 19:51] itssiva opened #187 "What does this mean?"
I am trying to understand this specific point that is described in the README

"Note: The values property always takes precedence, even on the client where a window object exists and matchMedia can be used."

I tried the following example with client side rendering.

[code]

The output only shows
[code]

I was expecting
[code]

Thank you for the library and your help.

[2018-11-26 20:03] contra commented on #187
When providing values, `mediaquery` uses `css-mediaquery` to match the given `value` prop with the query. AFAICT from https://github.com/ericf/css-mediaquery `deviceWidth` isn't a valid property, you would need to use `width`.

If that's correct and works for you we should update the docs with a link to the list of valid properties for the `value` object, and we can add a PropType for it to valida

[2018-11-26 20:05] contra commented on #187
You might also have luck trying `'device-width': 2600` - based on reading their code they don't have a fixed set of allowed values. If it does require hyphenation we can fix this in react-responsive like we did with the prop values.

[2018-11-26 20:11] itssiva commented on #187
@contra, from the docs ```The values property can contain orientation, scan, aspectRatio, deviceAspectRatio, height, deviceHeight, width, deviceWidth, color, colorIndex, monochrome, resolution and type to be matched against the media query.```

deviceWidth exists in the list

[2018-12-03 15:50] jodays opened #188 "Using Media query in Component Did Mount"
Was wondering if there is an example of how I can use a media query in componentDidmount.

[2018-12-03 16:10] contra commented on #188
@jodays What are you trying to do? It sounds like an anti-pattern.

[2018-12-03 16:50] jodays commented on #188
I'm trying to close the sidebar on specific route using react router  context. So I want to use the media query to call the method to close my sidebar on particular screen sizes. Was wondering if there was a way to use media query from react responsive to do that.

[2018-12-03 17:57] contra commented on #188
Can you post your code?

[2018-12-03 18:51] contra commented on #188
@jodays Direct access outside of the render function is outside of the scope of this project - you can use the `matchMedia` API directly to solve your problem (or just use `window.screen` + math).

[2018-12-03 18:51] #188 closed

[2018-12-10 20:16] dylanfpaul opened #189 "In README: What is the `Responsive` module import?"
In the readme you have an example under 'common use cases' where you import `Responsive`. What is this `Responsive` component and how does it differ from `MediaQuery`?

[2018-12-10 21:11] contra commented on #189
It's the same thing, the variable is just named differently. We don't have any convention about that, you can name it whatever you want. Most people will name it `<Responsive` because that's the name of the module, other's may choose `<MediaQuery` because it's more explicit how it functions. Both are documented so people can choose whichever they like.

[2018-12-10 21:11] #189 closed

[2018-12-28 23:39] tremby opened #190 "Add widthGt or similar"
If I have `<MediaQuery minWidth={theme.breakpoints[0]}>Wider-viewport content</MediaQuery>` I can't then just do `<MediaQuery maxWidth={theme.breakpoints[0]>Narrower-viewport content</MediaQuery>` a little later in my code, since they'll both match if the width is exactly `theme.breakpoints[0]`.

Instead I have to change the value by one pixel in one case or the other. But I can't easily do that i

[2018-12-29 00:37] tremby opened #191 "Document onChange"
I see a prop was added for a callback when the media query match state changes (#92) but it's not documented.

[2019-01-02 02:39] tremby commented on #190
I'm a little confused about what you mean by "meaningful differentiation and custom behavior". Perhaps you haven't seen the [`not` keyword](https://www.w3.org/TR/css3-mediaqueries/#media0), which has been around for a long time and inverts an entire media query, or [media queries level 4](https://www.w3.org/TR/mediaqueries-4/#mq-range-context), which supports `=`, `<`, `<=`, `>=`, `>` operators?

[2019-01-02 14:14] adityay-perpetualny opened #192 "how to call a function based on the device"
<MediaQuery maxDeviceWidth={991}>
          {this.getFullData}
 </MediaQuery>

Can we call a function like this if it matches the device width?

Thanks.

[2019-01-02 19:41] contra commented on #192
@adityay-perpetualny You probably want to use the `matchMedia` browser API directly in `componentDidMount`

[2019-01-02 19:41] #192 closed

[2019-01-02 19:42] contra commented on #190
@tremby `not` sounds fine to me, it should be a pretty easy PR if you want to take a swing at it - otherwise I can get around to it next week.

[2019-01-02 19:47] contra commented on #190
Also RE: Media queries level 4 - no browsers have that implemented AFAIK, we're using the browser matchMedia API under the hood where it exists and a third party shim where it doesn't. Would want to wait until at least one browser has implemented this before adding support in, and would probably need to support adding it into the shim as well.

[2019-01-03 08:53] mirshko opened #193 "remove device-width media queries as theyre deprecated and confusing"
hey there! It would be a great practice to remove `device-width` media queries as theyre officially deprecated and only supported in Chrome atm.

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/device-width

[2019-01-04 10:00] Herdismaria opened #194 "Bug in createMatchMedia"
I am using your library for a server side rendered project and I was getting an error saying that classnames did not match on server and client.

It appears that the values object is never used on the client because forceStatic is always false.
In the createMatchMedia function this line:
[code]
should be:

[code]
because values is an object and we want to force static when the values object is sup

[2019-01-04 13:47] Herdismaria commented on #194
Another thing we noticed is that in getDerivedStateFromProps

[code]
There is no check to see if the values object has changed. We are trying to pass in a values object on the server and on first render. Then after initial render we want to omit the values object to use the client width.
However because the query hasn't changed the state isn't updated.

[2019-01-04 15:22] contra commented on #194
@Herdismaria Ah nice catch, not sure why our tests didn't catch this - this would be an easy fix if you want to send a PR. On a plane atm otherwise I would take care of it.

[2019-01-10 13:42] TimTim75 opened #195 "Cannot read property 'addListener' of null"
Just trying a simple test of this library:

index.js
[code]

index.html
[code]

I'm getting this error :
`Cannot read property 'addListener' of null`

Looking into the code, it seems that the `mq` state of index is `null` by default.

Is there something I got wrong ?

[2019-01-10 16:17] contra commented on #195
What browser or env are you on?

[2019-01-10 16:30] TimTim75 commented on #195
@contra Currently on Chrome Version 71.0.3578.98 (Build officiel) (64 bits) on mac OSX High Sierra v10.13.6

[2019-01-10 16:48] contra commented on #195
Are you on react 16.3 or higher?

[2019-01-10 17:33] TimTim75 commented on #195
Nope 16.1.0

[2019-01-10 17:50] contra commented on #195
Library requires 16.3+ - you'll get a warning on install if you have any version lower than that. Update to 16.3 and it should fix the problem.

[2019-01-10 17:50] #195 closed

[2019-01-20 12:12] 0x80 commented on #162
I think I just ran into this problem as well. In the component below I am rendering a grid of items which is 1 column on small screens and 2 on large screens. The SSR html contains the classname for small screen. I am trying to solve this by using the setState workaround, but somehow my approach doesn't trigger a re-render.

Any idea what I am missing here?

[code]

[2019-01-21 19:32] #187 closed

[2019-01-28 16:48] #194 closed

[2019-01-29 13:09] Herdismaria opened #197 "Does not rerender when values changes"
Tried using the new version but it's still not working.
GetDerivedStateFromProps returns null even though values object changes.
I think the we need to store forceStatic in the state.

when we store forcesStatic in the state it triggers a rerender if we omit it after first render on the client.
![screen shot 2019-01-29 at 13 52 38](https://user-images.githubusercontent.com/22525070/51910287-13dd8d

[2019-01-29 13:14] Herdismaria commented on #197
We are not using the values object to construct the query so even thought it changes the query does not change so getDerivedStateFromProps returns null?

[2019-01-29 16:28] contra commented on #197
@Herdismaria I just made a branch called `static-fix`, can you try that and see if it works for you?

[2019-01-29 18:07] Herdismaria commented on #197
[code]
if this returns null, we'll get an error when doing Object.keys(null) in getDerivedStateFromProps
[code]

[2019-01-29 18:47] contra commented on #197
@Herdismaria Pushed a fix.

[2019-02-26 13:23] s-diez commented on #197
I had the same problem as @Herdismaria and tried the suggested branch. I does contain one error but seems to work otherwise.

The error:

https://github.com/contra/react-responsive/compare/static-fix#diff-1fdf421c05c1140f6d71444ea2b27638R48

`matchMedia()` has to be called with `matchMedia(query, props, !!values)` instead of `matchMedia(props, query, !!values)`.

[2019-02-26 15:11] contra commented on #197
@s-diez Pushed

There is a test failure on this branch though, would need to be fixed before merging

[2019-03-02 23:24] brandondurham opened #198 "Question: Setting state, or detecting breakpoints outside of component?"
I expect this isn’t the right tool but wanted to ask.

I’ve wrapped my `<TextWall />` component with react-responsive:

[code]

I have some methods that are triggered by resize events and manipulate the size of `<TextWall />` depending on the size of the viewport. These methods now break once I’m sitting below the `(min-width: 1160px)` breakpoint because `<TextWall />` is clearly not available.

H

[2019-03-02 23:31] contra commented on #198
I would suggest looking at https://github.com/bvaughn/react-virtualized/blob/master/docs/AutoSizer.md which will provide you with the container height/width as props and handle resize events, then you can pass those down to children as needed. If you're trying to get an absolute element to fill the container it should work perfectly for that.

[2019-03-02 23:31] #198 closed

[2019-03-03 17:25] rclai commented on #180
It's official :D

[2019-03-08 17:51] clayhan opened #199 "Weird behavior and possible bug when trying to use breakpoints to only render one component or another"
I have made a demo for this here https://github.com/clayhan/reactresponsivedemo

What I'm running into right now is I only want to show a set of components when the screen is under 768px and to show a different set of components when the screen is 768px and greater.

In my demo, I make 3 elements like this:
[code]

Behavior I'm seeing:
@766px, I only see the red div and the green div. This makes s

[2019-03-08 18:07] clayhan commented on #199
I changed it from max/min width to max/min device width and was able to get the behavior I expected development-wise.
[code]

![1](https://user-images.githubusercontent.com/8486877/54046603-bf75bc80-4189-11e9-9259-d8ffd9dc9233.PNG)
![2](https://user-images.githubusercontent.com/8486877/54046611-c270ad00-4189-11e9-88f8-cfe126a84c43.PNG)

So my question now is if this behavior is intended? I would p

[2019-03-08 18:10] #199 closed

[2019-03-08 18:10] clayhan commented on #199
https://github.com/contra/react-responsive/issues/125
Found this guy, thanks.

[2019-03-08 18:39] contra commented on #199
@clayhan react-responsive uses CSS media queries, and that's ultimately a CSS media query issue where you can have conflicting values. I would recommend you look at using a function child if you need a ternary.

[code]

And you can nest these as needed if you need to get more complex ^ (DesktopContent would have something similar to distinguish between regular and ultra wide, as one example)

[2019-03-08 20:52] clayhan commented on #199
@contra Thanks a ton for the response. The main issue that I'm running into right now is that even if I use your logic above, I am rendering "MobileContent" @ 768px. That isn't what I want, I want to STOP rendering "MobileContent @ 768px so I can render DesktopContent. However, if I move maxWidth to 767px, neither MobileContent OR DesktopContent will render.

I'm primarily trying to think of the a

[2019-03-26 16:19] cgcote opened #201 "Print Media query does not work on Edge / IE 11"
Hi,

It seems that the media query to detect print does not work properly on Edge / IE 11 with Windows 10.

Here's a codesandbox that reproduces the problem:
https://codesandbox.io/s/xpp6mp8p6z?fontsize=14

If you open the sandbox with Chrome and print the page, you'll see "Print", with IE and Edge you'll see "Screen".

I have also noticed that [react-media](https://github.com/ReactTraining/react-

[2019-03-26 17:03] contra commented on #201
Related? https://github.com/contra/react-responsive/issues/137

Solution from the react team: https://github.com/facebook/react/issues/11876#issuecomment-352421144

I haven't looked into this for a while, I was waiting for them to lock in that API before we shipped a new version that force flushed.

[2019-03-26 17:15] cgcote commented on #201
Yes seems to be the same, sorry for the duplicate!

Should I do something similar to what's described here:
https://github.com/contra/react-responsive/issues/137#issuecomment-369250128 ?

Thanks!

[2019-03-26 18:03] contra commented on #201
@cgcote It seems like the API is still not documented so not sure what we can do here...

On this line https://github.com/contra/react-responsive/blob/master/src/index.js#L94 if you add the snippet below (and add the correct imports for ReactDOM), does it solve the issue?

[code]

[2019-03-26 21:33] cgcote commented on #201
@contra I have done a bit more research and I am not sure that my problem is related. When I try to attach directly to
`window.matchMedia("print")`
the event is never fired on Edge / IE 11, while it gets fired on Chrome. So I don't think it's a rendering problem (I did add the flushSync for the sake of it) but rather yet another IE bug unfortunately...

https://stackoverflow.com/questions/34819813

[2019-03-27 10:19] cgcote commented on #201
Here's what we ended up using. It does not work on Safari but works fine on Edge / IE 11

`const usePrintMediaQuery = () => {
  const [print, setIsPrint] = useState(false);

  useLayoutEffect(() => {
    function beforePrint(event) {
      event.preventDefault();
      setIsPrint(true);
    }

    function afterPrint(event) {
      event.preventDefault();
      setIsPrint(false);
    }

    window

[2019-03-27 12:26] contra commented on #201
@cgcote Good to know IE has an issue there - if you're interested a PR to document that would be helpful, otherwise I can leave a note sometime this weekend in the README.

Given that this isn't a bug with the library I'll close this now.

[2019-03-27 12:26] #201 closed

[2019-04-08 09:08] molcik commented on #197
Any progress on this?

[2019-04-08 15:35] contra commented on #197
@molcik Just waiting on somebody to test the static-fix branch and confirm it is fixed

[2019-04-17 11:32] adityay-perpetualny opened #202 "safari autofocus edge case"
<MediaQuery maxDeviceWidth={991}>
 <RenderComponent
   isFromMobile = {true}/>
</MediaQuery>

<MediaQuery minDeviceWidth={992}>
 <RenderComponent
   isFromMobile = {false}
  />
</MediaQuery>

I am using the above code for the device detection, its working for all the browser except safari.
Can you please help me in this.

Thanks.

[2019-04-17 13:17] contra commented on #202
@adityay-perpetualny You forgot to include the code sample

[2019-04-17 13:18] contra commented on #197
@molcik If you're having the same issue, can you test the branch?

[2019-04-17 13:46] adityay-perpetualny commented on #202
<MediaQuery maxDeviceWidth={991}>
    <MobileComponent />
</MediaQuery>

<MediaQuery minDeviceWidth={992}>
   <DesktopComponent />
</MediaQuery>

[2019-04-17 13:47] adityay-perpetualny commented on #202
`<MediaQuery maxDeviceWidth={991}>
 <MobileCompoenent />
</MediaQuery>
 <MediaQuery maxDeviceWidth={991}>
 <DesktopCompoenent />
</MediaQuery>`

[2019-04-17 14:53] contra commented on #202
@adityay-perpetualny

- What version of safari?
- Specifically what behavior is not working?
- Is there any logs in the console?

Can you try this?

[code]

[2019-04-18 19:09] caseytrombley opened #203 "React-responsive nests the component inside itself"
When using this, the component that you render inside the media query seems to get nested inside of itself. This makes it useless for passing down a boolean.

**Example:**

`<MediaQuery maxWidth={1023}>
    <Chat recalculating={recalculating} className="mobile" />
</MediaQuery>`

`<MediaQuery minWidth={1024}>
    <Chat recalculating={recalculating} className="desktop" />
</MediaQuery>`

**When I g

[2019-04-18 19:45] contra commented on #203
Can you make a codepen or jsfiddle that reproduces this? I don't think your issue is with this library, but I will try to help anyways.

BTW, you can do this for your switch:

[code]

[2019-04-19 13:13] #203 closed

[2019-04-22 21:21] cainlevy commented on #202
I'm not sure if this is related given the uncertainty of the OP's issue. I'm only able to reproduce it in Safari 12 (other versions not tested).

We switch between two rendering layouts using control structures as shown in the repro below. Loading the page in either mode works fine. However, resizing the viewport from large to small results in showing _both_ modes. Resizing the viewport from small

[2019-04-26 11:01] ioanlucut commented on #202
We encounter the same issue.

[2019-04-26 11:15] ioanlucut commented on #202
I can confirm that in v5.0.0 worked.

[2019-04-26 22:49] contra commented on #202
Can anyone provide a simple codepen or jsfiddle that reproduces the issue?

[2019-04-26 23:10] cainlevy commented on #202
@contra I'm not clear how to copy my repro above into jsfiddle or codepen. It appears that they support loading packages from CDNJS, but react-responsive is not present there.

[2019-04-27 01:50] contra commented on #202
@cainlevy Codesandbox is probably a better bet - here's an example one using react-responsive: https://codesandbox.io/s/8x52q10309

[2019-04-29 15:35] cainlevy commented on #202
https://codesandbox.io/s/5xp7ql289p

[2019-04-29 16:14] #197 closed

[2019-04-29 16:15] contra commented on #197
Published a fix as 6.1.2 - please test and let me know if it is still an issue and I can reopen.

[2019-04-29 16:16] contra commented on #202
@cainlevy Thanks for the repro - I just pushed a fix up (6.1.2) for another update related issue, could you try that and see if it still reproduces?

[2019-05-08 15:15] contra opened #204 "optimization: use client hints for SSR"
https://developers.google.com/web/updates/2015/09/automating-resource-selection-with-client-hints

We can use these new hint headers to get the actual constraints and use those values on the server instead of making an educated guess then doing a re-render on the client. Any user who enables these hints on their page would be able to benefit from the optimization, otherwise the current method stil

[2019-05-24 16:47] michaeldino27 opened #205 "React re-renders subcomponent on mediaquery"
Hi Team,
I've got an issue with resizing the screen, when it detects the media query breakpoint, it causes my subcompenents to get re-rendered.
I'm using the mediaquery on my HomePage which contains another component like dashboard which is also using mediaquery. Is there any way to prevent the subcomponent from re-rendering when the screen is resized?

[2019-05-24 18:11] contra commented on #205
@michaeldino27 Can you put something up on codesandbox that reproduces the issue? Will look into it tonight if I have a few minutes.

[2019-05-29 09:17] Ni-gashi commented on #202
@contra any update on this one?

[2019-05-29 16:58] contra commented on #202
Looking into it now

[2019-05-29 18:21] contra commented on #202
Alright, pretty sure I've found the root cause - for some reason in Safari, adding multiple listeners to a `window.matchMedia` ignores all but the first handler, but only in this specific case with the input auto focus. I debugged this for a while and could not figure out why the event is not fired from one media query when autoFocus is rendered by the other, so my assumption is this is a safari b

[2019-05-31 19:26] Tomekmularczyk opened #206 "React Context support proposal"
I have a component like below that I would try to test:

[code]

But of course, this would render Button with nothing inside.

I have been looking for a way to test it and I found [this solution](https://github.com/contra/react-responsive/issues/60#issuecomment-242600235) which is rather a workaround and requires setting global variables and [this solution](https://github.com/contra/react-responsi

[2019-06-04 09:48] ioanlucut commented on #202
@contra thank you for looking into it.

Looking forward for the new release.

[2019-06-06 14:53] contra commented on #206
Merged ^

[2019-06-06 14:53] #206 closed

[2019-06-06 14:54] contra commented on #153
Context support shipped for specifying values for SSR + testing

[2019-06-06 14:54] #153 closed

[2019-06-06 14:55] contra commented on #180
Would love if somebody sent a PR for this, otherwise I can get around to it next week if I have some spare time.

[2019-06-06 17:39] Tomekmularczyk commented on #180
@contra I can give it a shot on weekend :)

[2019-06-07 20:21] kellenschmidt opened #209 "Wrong property name for context provider input in README"
In the README the object that is passed to the `value` property of the context provider has an incorrect property name. Currently it says `<ResponsiveContext.Provider value={{ deviceWidth: 300 }}>` in the README, but it should say `<ResponsiveContext.Provider value={{ width: 300 }}>` (`deviceWidth` renamed to `width`). I created pull request #208 to fix the README :)

[2019-06-07 20:26] contra commented on #209
Closed in #208

Thanks for the docs update

[2019-06-07 20:26] #209 closed

[2019-06-08 15:04] michaeldino27 commented on #205
@contra i really do appreciate you for the quick response to this and apologies for the delayed response, i figured that my implementation was wrong actually, thoough i don't have any solution yet to this problem. i will be closing this now. thanks.

[2019-06-08 15:05] #205 closed

[2019-06-13 15:00] vspedr opened #211 "Context value undefined in server"
Hello,

I'm trying to provide a value to view width on the initial server render in my SSR app. However I noticed that the context value is undefined in the server, then it gets updated to the value I provided once it gets rendered by the browser. This causes some of my components to not be rendered at first, but once the page rerenders in the browser they work just fine.

I'm using after.js for S

[2019-06-13 15:03] vspedr commented on #211
![Screenshot from 2019-06-13 09-24-37](https://user-images.githubusercontent.com/9813942/59443839-10bdc980-8dd3-11e9-9a81-422606df12e6.png)

This confirms that the MediaQuery component receives the desired value once the app ias rendered by the browser

[2019-06-13 15:38] contra commented on #211
@Tomekmularczyk Any ideas? Seems like an environment issue to me.

@vspedr Can you try using a plain react context and see if you have the same problem?

[code]

[2019-06-13 15:56] Tomekmularczyk commented on #211
The context just passes `values` to the old `MediaQuery` component, the internal implementation didn't change.

@vspedr it would be great if you could provide some minimal example of this issue. Other than that I would see if setting values directly (`<MediaQuery values={...}`) works correctly on server. This way we could tell whether this is an issue with Context itself or environment/MediaQuery

[2019-06-13 16:53] vspedr commented on #211
Hi, thanks for the quick response:

Here's a repo with a reproduction of the issue and the test cases you suggested:
https://github.com/vspedr/react-responsive-context-demo

[2019-06-14 19:31] Tomekmularczyk commented on #211
@vspedr so this is general setup problem. Try this:

1. Create `src/Context.js`

[code]

2. Do this in `src/client.js`:
[code]

3. and in `src/Home.js`:

[code]

You will see that even with regular React.Context server will print:

cc @contra

[2019-06-14 19:56] ioanlucut commented on #202
Hello! Any news about the issue? Thank you!

[2019-06-14 20:06] vspedr commented on #211
@Tomekmularczyk thanks for the clarification, indeed it's not a bug in `react-responsive` so I'll close this issue. I'm still not sure why it wouldn't work like that, but I found a workaround by wrapping each one of my route components with the ResponsiveContext provider.

For reference: https://github.com/jaredpalmer/after.js/issues/221

[2019-06-14 20:06] #211 closed

[2019-06-14 22:08] contra commented on #202
@ioanlucut I am able to reproduce it but haven't found a fix yet or had more time to continue looking for one, it's a tricky issue that will take at least a few hours to solve.

[2019-06-17 11:57] coreycosman opened #212 "cannot pass props to children of a Responsive component"
`const` WineHeader = ({ bottleState }) => (
  <HeaderCard>
    <WineBox />
    <WineBackgroundBox />
    <VineyardBackgroundBox />
    <WineInfoContainer bottleState={bottleState}>
      <LeftContainer>
        <WineTypeBox bottleState={bottleState} />
        <WineTitleBox bottleState={bottleState} />
        <WineDescriptionBox bottleState={bottleState} />
      </LeftContainer>
      <WinePrope

[2019-06-17 11:57] coreycosman opened #213 "cannot pass props to children of a Responsive component"
I am using the common use case indicated in the ReadMe:

[code]

...

and I have a prop (bottleState) that I am trying to pass to specific components inside the Responsive component (eg Desktop)

[code]

When logging the bottleState prop in one of the above child components in which I am trying to access it - it is not available (the log returns undefined) :

[code]

[code]

and when I simply remo

[2019-06-17 15:09] ianqueue commented on #202
@contra - I'm seeing this in mobile safari with version 7.  I've tried both two media queries and the matches ternary way.  Both don't work for me.

[2019-06-17 17:04] contra commented on #202
@ianqueue If you're able to reproduce with a ternary, can you create a codesandbox? That would be really helpful to fix this faster.

[2019-06-17 17:04] #212 closed

[2019-06-17 17:06] contra commented on #213
Can you make a codesandbox for this? I'm almost 100% sure this is something else in your stack - if it was a bug in this module we would probably have hundreds of bug reports about it already.

[2019-06-17 18:58] ianqueue commented on #202
@contra - will do... i think it's actually an issue with my server side render.  It works after first page load.  Will report a sandbox if I find anything though.

[2019-06-18 08:23] coreycosman commented on #213
You are 100% correct; I will go ahead and close this. Thanks for your timely reply and for this awesome module!

Corey

[2019-06-18 08:24] #213 closed

[2019-06-18 15:56] contra commented on #213
@coreycosman No worries 👍

[2019-06-18 21:34] lupos commented on #180
watching the above PR intently. I could really use a way to use this to just change certain values at different breakpoints. Like swapping some buttons from my "flat" style to a "Tab" style without having to write out the whole component twice with one line changed. Thanks for the fast work on this.

[2019-06-19 10:27] lvybriage commented on #180
@rockmandash I think it's an important feature! Waitting for your implement.

[2019-06-19 20:11] JuliaAlaeva opened #214 "Invalid hook call error when use package as dependency with npm link"
There is such error when add this package to another package:

[code]

[2019-06-19 20:24] contra commented on #214
Hi @JuliaAlaeva -

The hooks PR is not published, and we don't answer tickets for unpublished code. You can follow the PR here: https://github.com/contra/react-responsive/pull/210

[2019-06-19 20:24] #214 closed

[2019-06-20 03:21] contra commented on #180
Hey everyone - thanks to @Tomekmularczyk this has been shipped out as 8.0.0-beta.0

Please test it and report any issues you find here. After a few days of usage I'll promote it to stable. Thanks for being patient - this was a large feature and basically a complete rewrite, but I think it turned out great and makes the interface way more flexible and cleaner to use.

[2019-06-20 04:58] Tomekmularczyk commented on #180
@contra actually I didn't rename `values` to `device` yet on public API only internally. I was thinking this is going to be a minor release 🙈 I'll send another PR to rename it.

[2019-06-20 08:55] Tomekmularczyk commented on #180
I created an example of server-side rendering and testing with Next.js. https://github.com/Tomekmularczyk/react-responsive-example

[2019-06-20 10:03] noliiva opened #215 "[Hooks] Uncaught TypeError: Object(...) is not a function"
Hello,
I was excited to use react-responsive with hooks (v7.0.0), but whatever I try, I get this error:
`Uncaught TypeError: Object(...) is not a function`

Am I doing something wrong ?
`const isLarge = useMediaQuery({ query: '(min-width: 900px)' });`
`const isLarge = useMediaQuery({ minWidth: 900 });` did not work either.

Thanks for your help. :)

[2019-06-20 11:56] jancama2 commented on #215
@noliiva same for me, looks like the last version in npm doesn't include hooks, @contra could you publish it? :))

[2019-06-20 15:54] contra commented on #215
See here - https://github.com/contra/react-responsive/issues/180#issuecomment-503825776

It's out on a beta tag.

[2019-06-20 15:54] #215 closed

[2019-06-20 15:56] contra commented on #215
Added a note to the README to clarify this is a beta feature. Report feedback on it to #180

Thanks

[2019-06-23 19:37] angrypie commented on #180
@Tomekmularczyk I've slightly modified your example to control component (header) appearance via props instead of render different components. And I can't figure out why only text is updated after page load but not  the background style. After resizing the window back and forth it's all ok
Code and live editor: https://repl.it/@angrypie/react-responsive-hooks

[2019-06-25 05:57] HVish opened #217 "[Discussion] The keyVal() returns wrong key in case of boolean value"
Not sure if this is intentional or not, here is my suggestion.

[code]

reference: [src/toQuery.js](https://github.com/contra/react-responsive/blob/master/src/toQuery.js#L13-L18)

[2019-06-25 13:49] contra commented on #217
Seems like a mistake made during the switch to hooks - if you have time, a PR with a test would be appreciated otherwise i’ll get to it sometime this week.

[2019-06-25 14:50] HVish commented on #217
Sure, I'll do that.

[2019-06-25 16:30] #217 closed

[2019-06-25 16:31] contra commented on #217
Published as 8.0.0-beta.1 - thanks!

[2019-06-28 09:06] OutOfNutella commented on #202
i know i had the same issue with a form rendered with reduxForm.
Once i switched to Formik this issue was fixed.

My form is a simple search input with a button allowing to filter datas displayed on a table.
When the screen size is upper 768px, the search form is displayed at the top of the page, inside the header.
When the screen size is under 768px, the search form is displayed as a bottom fixed

[2019-06-28 14:04] cainlevy commented on #202
Did you have autofocus before and not after?

[2019-07-01 09:49] OutOfNutella commented on #202
I didn't used autoFocus prop.

[2019-07-02 09:59] kevinlaw91 opened #219 "Mounting/Unmounting race condition causing ref to set to null"
Given this code:
[code]

The ref will be set to `null` at last even when div is mounted due to race condition. Using render function doesn't have this problem.

https://codesandbox.io/s/festive-wright-n6pfg?fontsize=14

[2019-07-02 16:47] Tomekmularczyk commented on #219
@kevinlaw91 Not sure what problem do you experience. Given this code:

[code]

If I resize window then at any point when I click "log refs" button, correct refs are set.

[2019-07-03 08:33] kevinlaw91 commented on #219
Hi @Tomekmularczyk , I updated the example:
https://codesandbox.io/s/objective-sound-dzu5j?fontsize=14

Basically my use case is the div ref is not 2 different but same component that will share only one ref. The div will be placed differently determined by screen size. In that case the ref will be set to null

[2019-07-03 17:47] Tomekmularczyk commented on #219
@kevinlaw91 the example you provided is throws an error because you try to set ref on function component:

[2019-07-04 16:24] kevinlaw91 commented on #219
Oops for some unknown reason the example was not what i saved, sorry for the trouble.
Please check this updated code: https://codesandbox.io/s/charming-resonance-jlebd

[2019-07-12 03:04] michaeldino27 opened #220 "ComponentDidMount gets re-rendered on screen resize"
Hi Team,

Below is a sample code the get a better picture of what is happening to my project.
Basically i followed the same use case from this plugin but the problem is when i resize the browser and detects one of the view port it will render elements specific to that view port which, the problem is ComponentDidMount which contains api calls gets called every time i resize the browser, hope you gu

[2019-07-14 09:25] StevenDeRoover opened #221 "Android Portrait, select input opens keyboard, renders landscape"
I am developing a PWA application using React.  As it is an application that will be used on mobiles and tablets (possibly PC too)
Using react-responsive, I specified both a portrait and landscape media query.
When testing this, I could get a different result when turning my phone.
Now, I added Material-UI, adding an inputbox on the portrait media.
When I select the input box, the keyboard pops up

[2019-07-15 03:54] michaeldino27 commented on #220
Hi,
My Apologies, this issue was because of the wrong implementation i did for the navigation bar routing. i will now close this ticket.

[2019-07-15 03:54] #220 closed

[2019-07-17 01:49] contra commented on #221
Not something we would be able to fix in our library since this is just a property of web browsing + CSS media queries.

[2019-07-17 01:49] #221 closed

[2019-07-19 15:59] andreapiras opened #222 "Invalid hook call 8.0.0-beta branch"
![image](https://user-images.githubusercontent.com/16908937/61548697-311e1b00-aa46-11e9-88ba-2640ff816dd8.png)
Hey I've encountered the following error using 8.0.0-beta branch
Using the example code inside a nextjs project the error above is thrown.
Replacing the example code with https://reactjs.org/docs/hooks-intro.html
page renders fine

[2019-07-19 16:01] contra commented on #222
@andreapiras You can only use the hooks mode inside of a function component, not in a class.

[2019-07-19 16:01] #222 closed

[2019-07-19 16:02] contra commented on #180
I haven't gotten any feedback yet, positive or negative about the new hooks branch - has anyone used it and is 👍 on it? Would like to promote it to stable soon.

[2019-07-19 23:31] andreapiras commented on #222
Hi @contra thanks for your reply. If the problem was the version of react (which I checked and it's 16.8.6 and only one) the example from the hook page would not work either I guess. For my test I used the code example from your home page and that didn't work. What do you think?

[2019-07-20 01:06] contra commented on #222
Can you post a full code sample? I don't see anywhere in your code where our hook is being used.

[2019-07-20 16:06] andreapiras commented on #222
Hey @contra I tried to on a new setup of nextJs and I couldn't replicate the issue. I'm not sure about what's going but seems that react-responsive is fine. Thanks for your attention :)

[2019-07-22 06:38] damien916 commented on #180
Hi, we are using it in beta, thanks a lot ! We haven't noticed any issue, it could be great to promote it to stable. We just miss the typescript definitions.

[2019-07-24 21:23] filipjnc commented on #180
Works well so far!

[2019-07-29 11:03] plysik opened #223 "Comma separated media selectors"
Hello,
I have dictionary of breakpoints:
[code]
and this component:
[code]
usage:
[code]

`getQueryFromSelectedBreakpoints` return comma separated string from selected breakpoints.
[code]

I tried pure css approach and it worked. But with `MediaQuery` it is selecting only first part (before first comma).

Did someone has similiar problem?

[2019-07-29 14:59] contra commented on #223
Can you show an example of the output from `getQueryFromSelectedBreakpoints`?

[2019-07-30 16:06] jwm0 opened #224 "Storyshot throws invalid or missing MediaQuery"
I'm using a storybook addon called _storyshots_ to automate and link my snapshots with stories. For a component that uses Media component the following error is thrown: `Invalid or missing MediaQuery!` which in turn doesn't run a snapshot on this component.

[2019-07-30 16:11] contra commented on #224
Can you post a code snippet that shows the usage of `Media` in the component?

[2019-07-30 20:57] jwm0 commented on #224
Sure, here's an overview of how it's used in of components
[code]

[2019-07-31 14:37] contra commented on #224
@jwm0 Just as an experiment before I dig into it, can you try the new beta release and see if that fixes it?

[2019-08-01 06:29] plysik commented on #223
`getQueryFromSelectedBreakpoints({ phone: true, tabletPortrait: true, tabletLandScape: false, desktop: false, fullHD: false });`
Output:
`(max-width:600px), (min-width:601px and max-width:900px)`

[2019-08-01 08:57] jwm0 commented on #224
@contra just did, still getting the same error unfortunately. Also, I found that `mount` from enzyme also throws the exact same error, whereas shallow seems to work. It looks like a general issue with react-test-renderer. Can you confirm you're getting the same results?

[2019-08-01 15:37] contra commented on #224
@jwm0 Can you make a test repo with the issue? I haven't used react-test-renderer before so it would be quicker to debug with one.

[2019-08-01 19:42] Kamahl19 commented on #180
Works gread, +1 for types

[2019-08-02 11:41] jwm0 commented on #224
@contra okay, the issue was on my end - not providing aliases for imports considering device width constants and looks like Media kept throwing this error when no/invalid width prop was provided.

[2019-08-02 11:41] #224 closed

[2019-08-05 10:27] FredyC commented on #191
@contra That seems like a long next week 😆

[2019-08-05 10:49] FredyC commented on #180
Weird, there seems to be an issue with updating, when device dimensions changes, there is no re-render happening with a hook. I've tried to reproduce it, but it seems that even `MediaQuery` is not working. I am not sure if it's an issue of CodeSandbox itself...

https://codesandbox.io/s/clever-elgamal-ms48j

I tried also Repl.it with older version but it's not updating either. It's weird really...

[2019-08-05 15:56] contra commented on #191
@FredyC I work on this project for free out of kindness for the community, contributions are welcome.

[2019-08-05 15:58] contra commented on #180
@FredyC I think in your case you want `minWidth` not `minDeviceWidth`, right?

[2019-08-05 17:41] FredyC commented on #180
Duh, that really works :) Sorry, I don't do media queries, just coworker was complaining it's not working.  That's sorted out then. Thanks.

[2019-08-05 17:43] FredyC commented on #191
I am not complaining, I just found it funny. Nevermind. I do contribute to a bunch of other projects so I know that very well.

[2019-08-26 20:59] single-stop-neil opened #225 "Unable to test with Cypress"
Hello. I _think_ this is an issue with react-responsive but it's possible that it may be an issue with Cypress.

I am using functional components with React 16.8. The returns of all of the components are fragments which wrap `<MediaQuery />` components that render different content for tablet and mobile (desktop work is in process). The MediaQuery components take a query parameter.

When running C

[2019-08-26 21:32] #225 closed, assigned to nobody

[2019-08-29 12:41] DemonKart commented on #180
hi @contra, I am using it as well (on 8.0.0-beta) and it works just fine.

[2019-08-29 14:59] contra commented on #180
Cool - I think it has been a long enough period of testing that we can ship this out to stable. I'll plan on doing it later today.

[2019-08-29 17:32] contra commented on #180
Published as 8.0.0 - thanks again @Tomekmularczyk for everything!

[2019-08-29 17:32] #180 closed

[2019-08-30 16:59] Nurymka opened #226 "Installing v8.0.0 - Cannot find source file 'webpack:///dist/react-responsive.js'"
Just installed v8.0, and currently getting this error:

[code]

[2019-08-30 23:08] tonyjmartinez opened #227 "[8.0.0-beta] Type declaration file doesn't define 'useMediaQuery'"
Ran into this error when I tried using useMediaQuery with Typescript.

[2019-09-01 21:56] contra commented on #227
I don't maintain that type library, you'll need to ask the publisher of that package to fix it.

[2019-09-01 21:56] #227 closed

[2019-09-01 21:56] contra commented on #226
This seems like an issue with your webpack configuration, can you post a repository that reproduces the issue?

[2019-09-02 08:27] tudor07 commented on #227
Added issue: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/38073

[2019-09-02 20:13] contra commented on #227
@tudor07 Thanks

[2019-09-05 12:16] Fixten commented on #226
Hi. I am getting same warning in Chrome console.

[2019-09-05 15:51] contra commented on #226
@Fixten @Nurymka Can you try v8.0.1? I think it should be fixed. The error message is a little funky but I think the issue is that webpack is trying to load the source files which weren't in the package.

[2019-09-05 20:49] Fixten commented on #226
Checked 8.0.1 still getting the warning. Think I can create a repo with my Webpack confiig if it will help.

[2019-09-06 00:25] contra commented on #226
@Fixten Yeah that would be super helpful.

[2019-09-06 07:07] Fixten commented on #226
Here it is https://github.com/Fixten/webpack-config-test

[2019-09-12 16:13] dan-klasson opened #228 "How to mock the screen dimensions with useMediaQuery"
I'm trying to mock the width and screen dimensions with Jest. I'm importing my `matchMedia` mock [as described in the Jest documentation](https://jestjs.io/docs/en/manual-mocks#mocking-methods-which-are-not-implemented-in-jsdom).

Looking at the `useMediaQuery_test.js` file there's this:

    window.matchMedia.setConfig({
      type: 'screen',
      width: 1200,
      height: 800
    })

I've trie

[2019-09-13 15:00] contra commented on #228
@dan-klasson The device prop context stuff was built specifically for testing - https://github.com/contra/react-responsive#supplying-through-context

In your test suite you can mock the device using this, either at the top-level or per test if you want to test different device configurations. It isn't really any different than what you're trying to do with `window.matchMedia.setConfig` except it a

[2019-09-13 15:00] #228 closed

[2019-09-18 20:28] Fixten commented on #226
@contra Hi, any luck with config?

[2019-09-24 16:03] contra commented on #226
@Fixten Sorry work has been crazy lately and I haven't had much time - I have this marked us unread so it shows up in my feed every day and reminds me to look into it, so hopefully soon!

[2019-09-24 16:04] contra commented on #223
Just letting you know I'm still planning on getting to this - work has been crazy lately and I haven't had much time for my OSS projects, but hope to have some more time soon.

[2019-09-30 20:39] kartikag01 commented on #49
@contra Please updated your read.md that
### Don't Support Server Side Rendering

[2019-10-01 02:50] contra commented on #49
@kartikag01 This library supports server side rendering, so we won't be adding that. If you have a specific issue please open a ticket.

[2019-10-09 10:12] feaber commented on #202
I have similar issue.

[code]

[code]

After do some more test with Codesandbox from this thread:
https://codesandbox.io/s/8x52q10309
https://codesandbox.io/s/5xp7ql289p

I have figure out this will will never work when I use `minDeviceWidth` / `maxDeviceWidth` (with argument or ternary).

Changeing from `minDeviceWidth` / `maxDeviceWidth` to `minWidth` / `maxWidth` fix the issue on Edge & Safari

[2019-10-11 09:48] sergeyzwezdin opened #230 "useMediaQuery hook should re-render page on window resize"
Thank you for React Hooks support.

But there is a problem with the `useMediaQuery` hook:

[code]

Initially, it works fine, but it doesn't force component re-render on window resize. I believe it should re-render the component on resizing.

[2019-10-11 16:28] sergeyzwezdin commented on #230
Hm, it looks like I used wrong media query. It works as expected.

[2019-10-11 16:28] #230 closed

[2019-10-16 06:51] elyasmotazedy opened #231 "use react-responsive in state full component"
hi ,
how can i use it in state full component .
i get this error :

Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3. You might have more than one copy of React in the same app

[2019-10-16 19:02] contra commented on #231
Hooks can only be used in stateless components, use the other API documented in the README.

[2019-10-16 19:02] #231 closed

[2019-10-17 18:33] whatknight commented on #219
I don't think this is a bug in this library. I think its a problem with the usage of refs in this case since when one is removed it will set the ref to null.

To workaround this instead of using 1 ref use two.

[code]

[2019-10-17 19:06] kevinlaw91 commented on #219
I have tried out your solution and it seems to be working fine now. Seems like using multiple refs is the correct way and we should not share one ref with other component. Closing now as this is invalid.

Working example for anyone interested:
https://codesandbox.io/s/loving-ramanujan-ot8x8

[2019-10-17 19:06] #219 closed

[2019-10-24 21:06] iDVB opened #233 "How best to use this module in a large application?"
I'm struggling to understand what the best way to implement this module across a large application where many components need to know which breakpoint they are in.

Assuming we have 40+ components that each need to be able to adjust their layout based on these breakpoints.

Is it really best to have each component using `useMediaQuery`?

Does this not translate to multiple matchmedia listeners, so

[2019-10-25 10:01] dcipher00 opened #234 "Code duplication on using MediaQuery with components"
On using media query with components we need to specify `<MediaQuery maxDeviceWidth={***}>` for small devices and `<MediaQuery minDeviceWidth={****}>` for large devices to distinguish between device width for example `<MediaQuery maxDeviceWidth={464}>`  and `<MediaQuery minDeviceWidth={1224}>` to distinguish between device width of 464 and 1224

- One section displays if screen width is 464 or les

[2019-10-28 00:05] contra commented on #234
There are two alternative ways you can do this, either using render function children or hooks (both documented in the README).

If you have an alternative suggestion for an API, otherwise will close this.

[2019-10-28 00:12] contra commented on #233
@iDVB Don't think you will really have any performance issues with 40+ as long as you are batching renders, I haven't heard of anyone using that many though so really not sure. The best way to find out is to do it and report any issues you have so we can make improvements if needed, but I think you should be fine.

Also RE: duplicate event handlers, IIRC the browser handles deduping these if the q

[2019-10-28 00:12] #233 closed

[2019-11-15 14:38] codecomp opened #236 "Only working with dev tools open"
I've tried the hook and component methods using the latest version of the package and it only seems to work when i have dev tools open in device toolbar mode (chrome).

If i just open the site in Chrome, Safari or Firefox on a Mac and resize the screen it does not trigger or throw an error

[2019-11-15 16:36] contra commented on #236
Can you post your code, or a reproduction case on codepen or similar?

[2019-11-25 12:03] seleckis opened #237 "Using useMediaQuery with min-width does not trigger re-rendering when orientation is changed on iPhone"
I'm using This library to detect the width of the screen and render different components, so this code:
[code]
... is not working for me on Safari/iPhone 10/11 either native device or simulator. Works on Android Chrome and Desktop Chrome Emulator.

[2019-11-25 17:44] contra commented on #237
Could you make a codepen, jsfiddle, or similar that reproduces the issue?

[2019-11-26 11:49] seleckis commented on #237
Hm, yes, I have created simple example and it works, will try to figure out what's going on in the middle

[2019-11-26 12:27] seleckis commented on #237
I have found that "react-scale-text" library's component is blocking react-responsive to re-render after orientation change. Interesting...

[2019-11-26 12:49] seleckis commented on #237
So this is not related to this library, will just change react-scale-text to another lib

[2019-11-26 12:49] #237 closed

[2019-11-26 17:46] contra commented on #237
@seleckis If the maintainers of react-scale-text don't fix it let me know and we can add a note to our README to avoid that package.

[2019-11-26 19:43] seleckis commented on #237
I don't think they gonna fix it, because that project is not being updated for 2 years. I have just changed to another solution: https://github.com/saltycrane/use-fit-text which works great for me

[2019-11-27 23:11] reflector-six commented on #162
For what it's worth, here's an example of a wrapper around `useMediaQuery` that fixes things for me. This still causes a flash of incorrect content if the server rendering doesn't match the browser breakpoint, but at least rehydration will proceed correctly.

The hook allows you to specify what screen width the server should assume. It defaults to mobile since the consequences of "guessing" incorr

[2019-11-27 23:37] reflector-six commented on #162
Incidentally, looks like [Fresnel](https://github.com/artsy/fresnel) has a very different approach to solving this problem that might be preferable to some folks.

[2019-12-02 15:55] contra commented on #237
@seleckis Want to send a PR to add a section to the README "Known issues with other packages"?

[2019-12-03 11:15] williamgoodhew opened #238 ".a.useContext is not a function"
I am getting the following error in when using the useMediaQuery({ minDeviceWidth: 1224 })

__WEBPACK_IMPORTED_MODULE_0_react___default.a.useContext is not a function
    at useDevice (react-responsive.js:75)
    at useMediaQuery (react-responsive.js:110)

I was getting the error when my React and React-Dom versions were 16.4.0. After looking at the following issues.

https://stackoverflow.com/que

[2019-12-03 15:58] contra commented on #238
I would still guess your react versions aren't aligned - check the output of `yarn why react` + `yarn why react-dom` and make sure you have no other versions present, and running `yarn upgrade` to rebuild your node_modules wouldn't hurt either. If you don't use yarn then the npm equivalent commands that do the same.

[2019-12-06 11:19] tomflorentin opened #239 "NextJS SSR"
Does not work with next JS server side rendering

[code]

In the server console :

while i'm using a desktop browser.

[2019-12-06 13:52] Maadtin opened #240 "Apply on start?"
How to apply on component render? only works when resizing, thanks <3

[2019-12-06 15:37] contra commented on #239
Can you post an example repo or codepen/jsfiddle/etc. that reproduces the issue?

[2019-12-06 15:38] contra commented on #240
@Maadtin The constraints are applied on render and then listens for further changes. Can you post an example of your code?

[2019-12-06 16:44] Maadtin commented on #240
@contra Yes sure look:

[code]

When I reload the page `<Sdiebar />` is visible but If I resize the mediaquery applies and It disappear just as I would expect but the problem is then I reload the page above 1000px It should appear but It doesn't...

[2019-12-06 18:03] contra commented on #240
Could you make a codepen/jsfiddle/etc. that reproduces the issue?

[2019-12-08 16:53] nhuanhoangduc commented on #239
This is how I solved ssr issue:
![code](https://user-images.githubusercontent.com/16498830/70392763-faa56480-1a15-11ea-9931-cf8b3443506f.png)

[2019-12-08 16:54] nhuanhoangduc commented on #162
Guys, this is how I solved ssr issue:
![code](https://user-images.githubusercontent.com/16498830/70392763-faa56480-1a15-11ea-9931-cf8b3443506f.png)

[2019-12-09 17:00] contra commented on #239
Going to fold this into #162 since its the same issue

[2019-12-09 17:00] #239 closed

[2019-12-09 17:01] contra commented on #238
Closing since I haven't gotten a response.

[2019-12-09 17:01] #238 closed

[2019-12-09 17:01] contra commented on #240
Closing since I haven't gotten a response. Will reopen if you have a reproduction available.

[2019-12-09 17:01] #240 closed

[2019-12-09 17:01] #234 closed

[2019-12-09 17:01] contra commented on #236
Closing since I haven't gotten a response.

[2019-12-09 17:01] #236 closed

[2019-12-09 17:02] contra commented on #162
This should be a pretty easy fix if somebody wants to tackle it, I'm swamped with work this week but if I have some spare time I will take it this weekend.

[2019-12-10 12:40] DimaBur commented on #162
Hook to use `useMediaQuery` with SSR:

[code]

[2019-12-20 11:56] kopax opened #241 "How to rerender on resize and how to configure jest properly to use with expo ?"
Hello, I have just read this recent article and tried their sample to test your module https://medium.com/p/e0b73ed5777b/responses/show

[code]

This produces an error when using the default jest configuration:

[code]

Also, when I try to resize, it does not rerender, I was not able to get a mobile view in web.

- Is this expected?
- How can I configure jest in order to work with unit testing?

T

[2019-12-20 17:28] contra commented on #241
Your issue is coming from another library (`@expo/match-media`) so you should open your ticket there.

We have a section in the README about testing: https://github.com/contra/react-responsive#forcing-a-device-with-the-device-prop and a list of alternate shims available at the bottom that you can use instead of `@expo/match-media` (haven't heard of this library before).

[2019-12-20 17:28] #241 closed

[2019-12-26 05:29] coodoo commented on #162
After tinkering around for a bit trying to solve the SSR issue with nextjs, I came up with following solution which works great on both client and server, just leave it here for people looking for solution in the future.

One nice thing about this approach is that it will re-detect the screen width after resizing, to the best of my knowledge that currently `react-responsive` didn't support it yet.

[2019-12-27 12:20] kopax commented on #241
Hi and thanks for your quick reply.

This error was solved using `@expo/math-media@0.0.0-alpha.2`  but this version is clearly not production ready. We can't get the new viewport size after resizing the web. I haven't tryed rotation but that is not good.

I want to use it with react-native (I use expo SDK36), I didn't know any of the shims available, but I knew I needed one that work for web and n

[2020-01-06 16:43] contra commented on #241
@kopax The `device` prop can be used to override the detected device for any situation, including testing front-end code. It can also be used for SSR, but SSR is not needed if you just want to use it for testing.

As far as a shim that works with react-native I'm not sure, you could try updating the shims in the README to support react-native if the expo project is not working for your needs.

[2020-01-20 11:24] MarouaneElkamel commented on #226
Hey it seems to be related to the "source-map-loader", excluding the file could fix the issue
{
        enforce: 'pre',
        test: /\.jsx?$/,
        loader: 'source-map-loader',
        "exclude": [
          path.join(process.cwd(), 'node_modules/react-responsive')
        ]
      },

[2020-01-20 12:20] harishmoghe opened #242 "× TypeError: Object(...) is not a function"
I get above error while using like below,
const isDesktopOrLaptop = useMediaQuery({ query: "(min-device-width: 1224px)" });
 **Versions**
react-responsive : 8.0.1
react : 16.5.0

[2020-01-20 23:45] contra commented on #242
Your import statement is most likely the issue - please check the docs for the correct usage. If you are still having a problem getting it right you can post your full code sample here for help.

[2020-01-20 23:45] #242 closed

[2020-01-21 00:27] contra commented on #226
Hey all - pushed a fix to master, can you try it out and let me know if it fixes it for you? (Change your package.json version to `github:contra/react-responsive`)

If it works fine for everyone I can publish it

[2020-01-21 09:51] MarouaneElkamel commented on #226
It's working fine with the new fix. Thank you

[2020-01-21 17:12] contra commented on #226
Cool - will publish now. Sorry it took a while!

[2020-01-21 23:31] mycolaos opened #243 "Fails in SSR in the v8.0.2."
Just upgraded to the v8.0.2 and had the "window is undefined" error. No problem in the v8.0.1.

[2020-01-21 23:44] contra commented on #243
@mycolaos Can you post the full stacktrace?

[2020-01-21 23:51] contra commented on #243
I pushed a change up to master - can you try it out by changing your package.json version to `github:contra/react-responsive`?

[2020-01-22 05:27] arsendev opened #244 "aws err build arr"
Update to v8.0.2. An error appears. What's the problem?

[code]

[2020-01-22 07:04] hayesleech commented on #243
@contra It's still experiencing the "ReferenceError: window is not defined" even changing the version to `github:contra/react-responsive`

[2020-01-22 09:20] para27rsh commented on #243
I am also facing the same issue , please resolve it as i am using this package for my company project

[2020-01-22 09:22] para27rsh commented on #243
Now i checked for version 7.0.0 . and it's worked for me thank god.

[2020-01-22 09:23] hayesleech commented on #243
You can roll back to v8.0.1 instead of v7.0.0

[2020-01-22 09:25] para27rsh commented on #243
but i tried 8.0.1 and it's not working that's why i tried 7.0.0

[2020-01-22 11:19] mycolaos commented on #243
@contra here the stacktrace:
[code]

[2020-01-22 11:36] mycolaos commented on #243
@contra What does it mean "upgrade version to `github:contra/react-responsive`"?

The latest version still doesn't work.

[2020-01-22 13:05] hayesleech commented on #243
@mycolaos try run `npm install react-responsive@github:contra/react-responsive`

[2020-01-22 14:38] macdonst commented on #244
@arsendev I'm pretty sure this is a duplicate of #243. @contra already has pushed a fix to `master` we can all help verify the fix by testing based on the instructions in #243 which is what I'm about to do.

[2020-01-22 14:45] docccdev commented on #244
This would be a bug in Webpack 4 https://github.com/webpack/webpack/issues/6677.
Webpack 3 produces a proper bundle.

This issue should be fixed with this feature, until it's done the suggested workaround is using globalObject https://github.com/webpack/webpack/issues/6525:

[code]

[2020-01-22 14:45] docccdev commented on #243
https://github.com/contra/react-responsive/issues/244#issuecomment-577213932

[2020-01-22 15:23] sibstark commented on #243
Using next js 9.1.7 and got this error today, I did not get this error yesterday. What did happen?

[2020-01-22 15:58] macdonst commented on #243
Folks while you are waiting for a fix you can always pin the 8.0.1 version in your package.json and the problem will go away.

However, you can help testing the proposed fix by running: `npm install react-responsive@github:contra/react-responsive` and letting @contra know if it works for you.

[2020-01-22 16:11] macdonst commented on #243
@contra when I install from github I get the following error in my Gatsby build:

[code]

[2020-01-22 16:35] contra commented on #243
Okay everyone - no need to hyperventilate about it. I've deprecated 8.0.2 and published a fix as 8.0.3. Just run `npm upgrade` to get the latest version. I apologize for the bad push, webpack decided to bundle some new browser-specific code into the build after updating it.

[2020-01-22 16:37] #243 closed

[2020-01-22 16:38] contra commented on #244
Duplicate of #243 - issue has been resolved.

[2020-01-22 16:38] #244 closed

[2020-01-22 21:27] Fixten commented on #226
Updated to 8.0.3 but still get the warning.

[2020-01-22 22:22] contra commented on #226
Yep - there was an issue with this. I published a fix for this ticket as 8.0.2 and it broke other people's code, so I reverted it. I have a branch open (new-structure) that I would appreciate if people helped test.

I'm starting to have doubts that I'll be able to support all of the existing require/import cases with one bundle, so I may just do a breaking release in v9.0.0 to drop support for UMD

[2020-01-23 09:59] pecoram opened #245 "Browsers without ResizeObserver API support"
Hi,
I encountered an issue with all devices that don't have ResizeObserver with both chrome and safari and when in the component I use "react-scrollbars-custom" or "react-visibility-sensor".
When the page is loaded for the first time everything goes fine, but when I rotate the device from portrait to landscape or vice versa, nothing happens, the resize event doesn't fire.

I tried with version 8.0

[2020-01-23 16:13] contra commented on #245
Can you make a codepen/jsfiddle that reproduces the issue, and give some more specifics about the device you're on?

[2020-01-23 17:32] pecoram commented on #245
I don't know how but I can tell you how to reproduce the issue using your demo and an iPad or an old Android tablet. (I'm using an iPad Pro 10.5 or Galaxy Tab S2)
just install
`npm install react-scrollbars-custom`
and use this code:
`import MediaQuery from 'index'
import React from 'react'
import ReactDOM from 'react-dom'
import Scrollbar from 'react-scrollbars-custom'

window.React = React // for

[2020-01-23 17:34] contra commented on #245
@pecoram If you remove the `values` prop does the resize event work? When the `values` prop is provided it will not look at or listen to the browser at all, you are overriding the state with that object.

[2020-01-23 17:38] pecoram commented on #245
No, removing values I got the same issue.
If I refresh the page in portrait and then rotate the device in landscape I see both <ul>
If I refresh the page in landscape I see the correct <ul> but rotating two time I see them both

[2020-01-24 14:19] garzohugo opened #246 "Rendering a component differently in print"
I wonder if someone can give me some usage pointers. I have a component that is collapsible on screen that I want to render in full if the page is printed. I cannot figure out a CSS approach. I put together the following render method for the component, but the page gets caught some kind of loop; it doesn't load, but doesn't throw any errors or warnings. I expect I'm making an obvious mistake. Tha

[2020-01-24 15:23] contra commented on #246
Does use the hook usage fix it for you? I think I remember this issue being reported in the past but nobody was able to reproduce it

[2020-01-24 16:06] garzohugo commented on #246
I started with the hook. Seeing as this component can render 100 times, I called the hook in a separate function and passed down the boolean to the component class. Whatever I tried broke hooke rules.

[2020-01-24 17:24] pecoram commented on #245
@contra here an example of the bug  https://odvdp.csb.app/
https://codesandbox.io/s/fancy-frost-odvdp

[2020-01-24 17:40] pecoram commented on #245
@contra with react-responsive from version 5.0.0 or below there is no evidence of the bug.
Take a look to the example below:
https://t4fm2.csb.app/
https://codesandbox.io/s/xenodochial-moore-t4fm2

[2020-01-24 17:49] contra commented on #245
@pecoram Thanks, I'll look into it today

[2020-01-24 17:53] contra commented on #245
I'm not able to reproduce on chrome but I have an old ipad laying around that I can test it with.

[2020-01-28 13:45] pecoram commented on #245
Hi @contra, you had any chance in replicating the issue?

[2020-01-28 16:36] contra commented on #245
@pecoram Been busy with work but I will get to it as soon as possibe.

[2020-02-06 15:50] plonko commented on #162
@coodoo Sorry where is isClient used? Is this meant to be used with other code?

[2020-02-08 08:49] coodoo commented on #162
Nope `isClient` isn't used anywhere, edited it out :)

[2020-02-18 15:47] vertic4l opened #247 "Example for HOC decorator"
Could someone provide an example of how to use it within a HOC decorator?
Tried to make one with TypeScript, but it's not that easy :D

like:
[code]

[2020-02-18 16:13] contra commented on #247
@vertic4l What do you imagine the API for this looking like?

Something like this?

[code]

[2020-02-18 16:32] vertic4l commented on #247
@contra

I'd like to have something like:

[code]

Reason is i do want to have one place where breakpoints are set and consume it in all relevant components this way.

[2020-02-18 16:51] vertic4l commented on #247
Well, it's okay how it is i guess...

[code]

I can use a Enum here as well which provides a set of breakpoints like:

[code]

[2020-02-18 16:52] #247 closed

[2020-02-18 17:28] contra commented on #247
@vertic4l Yeah you should pretty easily be able to throw together a HOC using the hooks API and your own breakpoint definitions. If you have any trouble doing that let me know.

[2020-02-19 07:22] vertic4l commented on #247
I find it somehow difficult to establish a HOC which adds some props and could find a good example which uses TypeScript for it.

[2020-02-24 22:53] singleportrait commented on #237
@seleckis Question: How did you determine that package was the one blocking the orientation change from re-rendering? I'm having what feels like a similar issue, though my project doesn't use that library.

Thanks!

[2020-02-25 07:49] seleckis commented on #237
@singleportrait I've just tried to add/remove it from/to app. I didn't checked entire packages what does it do and use what can cause such problem. I don't have time for that, so I have just tried another solution and it works for me.

[2020-02-25 21:20] singleportrait commented on #237
@seleckis Great, thanks for the tip.

[2020-02-27 17:31] jayarnielsen commented on #162
the solution @nhuanhoangduc proposed works quite well. I modified it a bit to use hooks instead of hocs 🙂
[code]

[2020-03-09 07:50] isotopeee commented on #162
Tested @nhuanhoangduc's solution and worked well. 🙌

However, I've used `useEffect()` instead of `useLayoutEffect()` and it's working too.

Is there any reason why @nhuanhoangduc used `useLayoutEffect()` specifically?

[2020-03-09 14:54] team-gguys commented on #162
useLayoutEffect is the same as willMount or willReceiveProp, and useEffect is didMount or didUpdate, depends on your requiement

[2020-03-14 02:38] isotopeee commented on #162
@team-gguys Thanks for your reply. But I'm not sure if that's correct.

Based on https://reactjs.org/docs/hooks-reference.html#timing-of-effects

In addition, from https://reactjs.org/docs/hooks-reference.html#uselayouteffect:

[2020-03-14 04:39] team-gguys commented on #162
@isotopeee  I recommend using class component to understand deeply react lifecycle before moving to functional component and hook.

[2020-03-14 11:40] jtomaszewski commented on #162
Support for SSR should be built-in out of the box in such a library. Currently, in case u want to use it in SSR+CSR enabled framework, like next.js, you basically have to wrap any `useMediaQuery` calls with your own hook/component, that does the `isClient` with `useLayoutEffect` thing.

Maybe I might make a PR for that in the next few days.

[2020-03-14 11:45] jtomaszewski commented on #162
One last thing to be discussed before doing the implementation is whether we want to use `useLayoutEffect` and `useEffect`. IMHO it should be `useLayoutEffect`, but unfortunately this will raise a warning (that does nothing bad) in the SSR logs:

I've been arguing [here](https://gist.github.com/gaearon/e7d97cdf38a2907924ea12e4ebdf3c85#gistcomment-29607560) that there should be a way to call `useLa

[2020-03-21 00:28] shlangus opened #248 "Nested responsive components that use refs results in stale elements in Safari"
Hello, we use examples provided in Easy Mode section of the doc and faced the issue that reproduces in Safari (13.0.5) on Mac OS.
The problem occurs when the responsive components are nested and there is some child that uses ref. Something like this ([sandbox](https://stackblitz.com/edit/react-auarn4))
[code]
After resizing the window back and forward the following warning occurs:
<img width="1136

[2020-03-21 22:26] contra commented on #248
Thanks for the heads up and providing a reproduction - that should help us fix this quickly.

Ping @Tomekmularczyk since this is related to the hook changes.

[2020-03-21 23:43] shlangus commented on #248
Thank you and let me share some additional info on it. It reproduces with a `MediaQuery` component as well (I've updated sandbox with it) and presents in 7.0.0 version that does not use hooks.
The set and order of components matters, playing with it I was able to get different results.
The warning appears regardless of `ref` usage in a child component but when it is used everything gets broken.

[2020-03-22 20:17] shlangus commented on #248
I managed to fix my case.
1. Comment [this line](https://github.com/ncochard/matchmediaquery/blob/1e7932eb11aee00d96ecff9e5610521fc142908c/index.js#L14).
2. Change useMatches (it is needed because MQ object provided by the library stops updating `matches` property after step 1).
[code]
Unfortunately, I cannot explain why it is so. I played with my app and got an infinite updates cycle at some mome

[2020-04-01 06:11] guivinson opened #249 "Support for PWA ?"
Do you think react-responsive could handle if a PWA has been installed or is it out-scope ?

https://stackoverflow.com/a/52695341

[2020-04-01 17:50] contra commented on #249
You're talking about doing this `<Responsive query="(display-mode: standalone)">`? It should work fine as long as it is a valid media query. `displayMode="standalone"` for props mode or object mode should work fine as well, we don't do any actual validate of the queries we just decamelize -> CSS and pass it to matchMedia directly.

[2020-04-01 17:50] #249 closed

[2020-04-06 08:56] stan-sack commented on #148
+1 I was confused by this

[2020-04-07 13:21] lucasriondel commented on #162
@jayarnielsen 's hook works perfectly. Thanks a lot.

[2020-04-13 20:56] oyeanuj commented on #204
@contra Came here looking for this. Is this on the radar?

[2020-04-13 23:41] contra commented on #204
@oyeanuj Yep - after we take care of #162 which will finalize the SSR API we can do this one.

[2020-04-22 10:02] thevangelist opened #251 "Accessibility?"
Does this affect accessibility somehow?

Considering Section 508, EU accessibility directive and WCAG 2.1.

[2020-04-22 10:12] thevangelist commented on #251
Let's consider something like this, you are reading the page aloud with a screen reader, resize the browser and then what happens?